<div class="user-icon">
  <%= icon(profile, :small) %>
  <span><%= link_to h(profile.user.login), profile_path(profile) %></span>
  <div class="follow_button">
    <%= follow_member_button_small profile %>
  </div>
</div>