<div id="profile">

  <div class="pageTitle">There are shares in the following projects awaiting payment by you</div>

  <div class="project_listing_box">
    <%= render :partial => "projects/listings", :object => @projects_awaiting_payment %>
  </div>
</div>