You have been sent an invitation from <%= h @inviter.login %> to follow a project on PirateMyFilm.

<br/><br/>

<a href="<%= url_for(:only_path => false,
     :controller => "projects", :action => "show", :id => @project.id) %>">
   <%= h @project.title %>
</a>

<br/><br/>

Click on the link above and click the follow button in order to follow this project.