<table class="project_form" style="border-spacing: 10px; width: 100%;">
  <% if @project %>
    <%= f.hidden_field :project_id, :value => @project.id %>
  <% end %>
  <tr>
    <td>
      Enter blog title
    </td>
    <td>
      <%= f.text_field :title %>
    </td>
  </tr>
  <tr>
    <td>
      Enter blog text
    </td>
    <td>
      <%= f.text_area :body %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <input type="submit" value="Create"/>
    </td>
  </tr>
</table>
