<div id="hp_latest_blog">
  <div id="hp_latest_blog_header">Max Blog:</div>

  <div class="blog-entry">
    <div class="blog-title"><%= link_to h(truncate(blog.title, 55)), :controller => "blogs", :action => "homepage" %>...</div>

    <div class="blog_comments_link">
      (<%= pluralize(blog.num_comments, "comment") %>)
    </div>

    <% if(@u.nil? or @u.new_record?) %>
      <div class="signup_button">
        <%= link_to image_tag("signup_button.png"), signup_path %>
      </div>
    <% end %>

    <div class="pmf_clear">&nbsp;</div>

  </div>
</div>