<div id="hp_latest_blog">
  <div id="hp_latest_blog_header">Max Blog:</div>

  <div class="blog-entry">
    <div class="blog-title"><%= link_to h(truncate(blog.title, 55)), :controller => "blogs", :action => "homepage" %>...</div>

    <div class="blog_comments_link">
      (<%= link_to "#{pluralize(blog.num_comments, "comment")}", :controller => "blogs", :action => "homepage" %>)
    </div>

    <div style="clear:both;"></div>
  </div>
</div>