<div id="top_container">
  <div id="hp_latest_blog">
    <div id="hp_latest_blog_header">PMF Latest From Max</div>
    <div class="pmf_clear">&nbsp;</div>

    <div class="blog-entry">
      <div class="blog-title">
        <%= h(truncate(blog.title, 60)) %>...
        (<%= link_to 'more', :controller => "blogs", :action => "homepage" %>)
      </div>

      <div class="pmf_clear">&nbsp;</div>
      
      <div class="blog_comments_link">
        (<%= pluralize(blog.num_comments, "comment") %>)
      </div>
    </div>
  </div>
  <div id="signup_section">
    <%= render :partial => "shared/signup" %>
  </div>
  <div class="pmf_clear">&nbsp;</div>
</div>