<% if blogs.empty? %>
  No Blogs Found!
  <div class="pmf_clear">&nbsp;</div>
<% else %>
  <% blogs.each do |blog| %>
    <% @blog_template_name = blog_template_name(blog) unless defined?(@blog_template_name) %>

    <%= render :partial => "/blogs/templates/#{@blog_template_name}",
      :locals => {:blog => blog, :truncate_blog => true,
      :link_blog_header => true } %>
  <% end %>
<% end %>
