<div class="buzz_links">
  <div class="rebuzz button_small">
    <a onclick="doRebuzz(<%=blog.blog_rebuzz ? blog.blog_rebuzz.id : blog.id%>);">Rebuzz</a>
  </div>
  <div class="reply button_small">
    <a onclick="doReply('@<%=blog.blog_rebuzz ? blog.blog_rebuzz.profile.user.login_for_buzz_mention : blog.profile.user.login_for_buzz_mention%>');return false;">Reply</a>
  </div>
</div>

<div class="pmf_clear">&nbsp;</div>