<div class="buzz_links">
  <div class="rebuzz button_small">
    <a onclick="doRebuzz(<%=blog.id%>);">Rebuzz</a>
  </div>
  <div class="reply button_small">
    <a onclick="doReply('@<%=blog.profile.user.login_for_buzz_mention%>');">Reply</a>
  </div>
</div>

<div class="pmf_clear">&nbsp;</div>