<div class="buzz_links">
  <% if @u and (blog.profile.id == @u.profile.id) %>
    <div class="rebuzz button_small">
      <%= link_to "Delete", blog_path(blog), :method => :delete %>
    </div>
  <% else %>
    <div class="rebuzz button_small">
      <a onclick="doRebuzz(<%=blog.blog_rebuzz ? blog.blog_rebuzz.id : blog.id%>, true);">Rebuzz</a>
    </div>
    <div class="reply button_small">
      <a onclick="doReply('@<%=blog.blog_rebuzz ? h(blog.blog_rebuzz.profile.user.login_for_buzz_mention) : h(blog.profile.user.login_for_buzz_mention) %>');">Reply</a>
    </div>
  <% end %>
</div>

<div class="pmf_clear">&nbsp;</div>