<div class="subnav_links left">

  <div class="link member_updates <%= (@selected_subnav_link == "member_updates" ? "selected" : "") %>">
    <%= link_to "Member Buzz", :controller => "/blogs", :action => "all_member_blogs" %>
  </div>

  <div class="link project_updates <%= (@selected_subnav_link == "project_updates" ? "selected" : "") %>">
    <%= link_to "Project Buzz", :controller => "/blogs", :action => "index" %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>