<div class="pageTitle">PMF Blog</div>

<div class="pmf_clear">&nbsp;</div>

<% if @blogs.empty? %>
  No Blogs Found!
  <div class="pmf_clear">&nbsp;</div>
<% else %>
  <% @blogs.each do |blog| %>
    <%= render :partial => "/blogs/templates/admin_blog",
      :locals => {:blog => blog, :truncate_blog => true,
      :show_more_link => true} %>
  <% end %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>