<div class="pageTitle">Member Buzz</div>

<div class="pmf_clear">&nbsp;</div>

<% if @blogs.empty? %>
  <div class="pageTitleSmaller">
    No Buzz Found!
  </div>
  <div class="pmf_clear">&nbsp;</div>
<% end %>

<% @blogs.each do |blog| %>
  <% 
    if blog.is_mkc_blog
      @template_name = "mkc_blog"
    elsif blog.is_admin_blog
      @template_name = "admin_blog"
    else
      @template_name = "member_blog"
    end
  %>
  <%= render :partial => "/blogs/templates/#{@template_name}",
    :locals => {:blog => blog, :truncate_blog => true,
    :show_more_link => true} %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>