<div id="MENU_HEADER" class="pageTitle">
  Max Blog Posts
</div>

<div class="pmf_clear">&nbsp;</div>

<% if @blogs.empty? %>
  No Blogs Found!
<% else %>
  <%= render :partial => 'blog', :collection => @blogs %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>
