<div class="pageTitle">Project Updates</div>

<div class="pmf_clear">&nbsp;</div>

<%= render :partial => "/blogs/member_blog_update_form" unless !@u %>

<% if @blogs.empty? %>
  <div class="pageTitleSmaller">
    No Updates Found!
  </div>
  <div class="pmf_clear">&nbsp;</div>
<% end %>

<% @blogs.each do |item| %>
  <%= render :partial => "/blogs/templates/project_blog",
    :locals => {:blog => item, :truncate_blog => true,
    :link_blog_header => true } %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>