<div class="pageTitle">Member Feed</div>

<div class="dashed_light_border">&nbsp;</div>

<div class="pmf_clear">&nbsp;</div>

<%= render :partial => "/blogs/member_blog_update_form", :locals => {:blog => @blog} unless !@u %>

<% if @blogs.empty? %>
  <div class="pageTitleSmaller">
    You are not following any PMF Members!
  </div>
  <div class="pageTitleSmaller">
    When you follow someone, their updates will appear here!
  </div>
  <div class="pmf_clear">&nbsp;</div>
<% end %>

<% @blogs.each do |blog| %>
  <%= render :partial => "/blogs/templates/member_blog",
    :locals => {:blog => blog, :truncate_blog => true,
    :link_blog_header => true } %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>