<div class="pmf_clear">&nbsp;</div>

<%= render :partial => "/blogs/member_blog_update_form" unless !@u %>

<% if @blogs.empty? %>
  <div class="pageTitleSmaller">
    You are not following any PMF Members!
  </div>
  <div class="pageTitleSmaller">
    When you follow someone, their updates will appear here!
  </div>
  <div class="pmf_clear">&nbsp;</div>
<% end %>

<% @blogs.each do |blog| %>
  <% 
    if blog.is_mkc_blog
      @template_name = "mkc_blog"
    elsif blog.is_admin_blog
      @template_name = "admin_blog"
    else
      @template_name = "member_blog"
    end
  %>
  <%= render :partial => "/blogs/templates/#{@template_name}",
    :locals => {:blog => blog, :truncate_blog => true,
    :show_more_link => true} %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>