<% if @blogs.empty? %>
  <div class="pageTitleSmaller">
    No Updates Found!
  </div>
  <div class="pmf_clear">&nbsp;</div>
<% end %>
  
<% @blogs.each do |blog| %>
  <%= render :partial => "/blogs/templates/project_blog",
    :locals => {:blog => blog, :truncate_blog => true,
    :show_more_link => true} %>
<% end %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>