<div class="pageTitle">New Blog Entry</div>

<div class="pmf_clear_bottom_border pmf_top_margin_10">&nbsp;</div>

<div id="sub_nav">
  <%= link_to "Back to Project", {:controller => "projects", :action => "show", :id => @project.id}, :class => "subnav_inactive" %> -
  <%= link_to "All Blogs for this Project", {:controller => "projects", :action => "blogs", :id => @project.id}, :class => "subnav_inactive"%>
</div>

<% form_for @blog, :url => {:controller => "blogs", :action => "create", :id => @blog.id}  do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>