<div class="pageTitle">Producer Blogs</div>

<% if @user %>
  <div id="producer_blog_header">
    <div class="text">By</div>
    <div class="user_info">
      <div class="user_icon">
        <%= link_to icon(@user.profile, "small"), profile_path(@user.profile) %>
      </div>
      <div class="user_name">
        <%= link_to h(@user.login), profile_path(@user.profile) %>
      </div>
    </div>
    <div class="pmf_clear">&nbsp;</div>
  </div>
<% end %>

<div class="dashed_light_border">&nbsp;</div>

<div class="pmf_clear">&nbsp;</div>

<%= render :partial => 'blogs', :locals => {:blogs => @blogs} %>

<%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>