<div id="MENU_HEADER" class="pageTitle">
  Showing Blog
</div>
<div style="clear:both;"></div><hr/>

<div id="sub_nav">
  <% if @blog.is_homepage_blog? %>
    <%= link_to "View all Homepage Blogs", :controller => 'home' %>
  <% else %>
    <% unless @blog.project.blank? %>
      <%= link_to "See more blog posts for this project >>", :controller => :projects, :action => :blogs, :id => @blog.project_id %>
    <% else %>
      <%= link_to "View all Producer Blogs", :controller => "producer_blogs" %>
    <% end %>
  <% end %>
</div>

<%= render :partial => '/blog_partials/show_blog', :locals => {:blog => @blog} %>