<div class="blog-row blog">

  <div class="blog_left">
    <div class="icon">
      <%= link_to image_tag("/images/big_p.png"), :action => "admin" %>
    </div>
    <div class="info">
      <div class="blog_type">
        <%= link_to "PMF Blog", :action => "show", :id => blog.id %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="blog_body">
        <%= blog_body(blog, truncate_blog, false) %>
      </div>
    </div>
  </div>

  <div class="blog_right">
    <div class="blog-date">
      <%= time_ago_in_words blog.created_at %> ago
    </div>

    <div class="pmf_clear">&nbsp;</div>

  </div>

  <div class="pmf_clear">&nbsp;</div>

  <div class="dashed_light_border pmf_top_margin_10">&nbsp;</div>