<% if blogs.nil? || blogs.empty? %>
  No Blogs Found!
  <div class="pmf_clear">&nbsp;</div>
<% else %>
  <% blogs.each do |blog| %>
    <%= render :partial => "/admin/admin_blogs/blog",
      :locals => {:blog => blog, :truncate_blog => true,
      :link_blog_header => true } %>
  <% end %>
<% end %>
