<div class="pageTitle">
  PMF Blogs
</div>

<div class="pmf_clear">&nbsp;</div>

<div id="sub_nav" class="button">
  <%= link_to 'New Blog Entry', {:action => "new"} %>
</div>

<div class="pmf_clear">&nbsp;</div>

<%= render :partial => '/admin/admin_blogs/blogs', :locals => {:blogs => @blogs} %>