<div class="pageTitle">
  PMF Blogs
</div>

<div class="pmf_clear">&nbsp;</div>

<div id="sub_nav" class="button">
  <%= link_to 'New Blog Entry', {:action => "new"} %>
</div>

<div class="pmf_clear">&nbsp;</div>

<% if @blogs.empty? %>
  No Blogs Found!
<% else %>
  <% @blogs.each do |blog| %>
    <%= render :partial => "/admin/admin_blogs/blog",
      :locals => {:blog => blog} %>
  <% end %>
<% end %>

<div class="pmf_clear">&nbsp;</div>