<div class="border_top blog">

  <%= render :partial => "/admin/admin_blogs/blog", :locals => {:blog => @blog} %>

  <div class="pmf_clear">&nbsp;</div>

  <div class="blog_admin_links">
    <div class="button right">
      <%= link_to "Edit", :controller => "admin/admin_blogs", :action => "edit", :id => @blog.id %>
    </div>
    <div class="button right">
      <%= link_to "Delete", {:controller => "admin/admin_blogs", :action => "destroy", :id => @blog.id},
        :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>

  <div class="pmf_clear">&nbsp;</div>

</div>

<div class="pmf_clear">&nbsp;</div>