Your project 

<a href="<%= project_url(@project) %>"><%= h @project.title %></a>

is now fully funded and has gone into the yellow light stage. 

<br/><br/>

However, you are yet to enter an associated bitpay email in order to receive funds for you project.

<br/><br/>

Your project will remain frozen in the yellow light stage until you enter an appropriate bitpay email address. 

<br/>

You can sign up for bitpay here: <a href="https://bit-pay.com/">https://bit-pay.com/</a>

<br/>

Once you have done so, you can link your bitpay email to your project <a href="<%= edit_project_url(@project) %>">Here</a>:

and your project will go green at midnight after such a time.

<br/><br/>

You will receive this email daily until such action is performed.