A payment window has closed for a project you have reserved shares in:

<br/><br/>

<%= h  @payment_window.project.title %>

<br/><br/>

You have successfully paid for your shares in this window.

You can
<a href="<%= project_url(@payment_window.project) %>">Log In</a>
to PirateMyFilm to see your info on these shares.