<% if @window_number == 1 %>
  The first of three payment windows for a project you have reserved shares in is now open!
<% elsif @window_number == 2 %>
  The second of three payment windows for a project you have reserved shares in is now open!
<% elsif @window_number == 3 %>
  The last of three payment windows for a project you have reserved shares in is now open!
  <br/>
  <a href="<%= url_for(:only_path => false,
       :controller => "projects", :action => "show", :id => @payment_window.project.id) %>">
    Pay for your shares
  </a> 
  and don't risk walking the plank!
<% end %>

<br/><br/>

<%= h  @payment_window.project.title %>

<br/><br/>

You must log in to PirateMyFilm and pay for these shares.

<br/><br/>

We are now only excepting payment via Bitcoin!

<br/>

You can get bitcoins from the following site: 
<a href="http://lovebitcoins.org/getStarted.html" target="_blank">
  http://lovebitcoins.org/getStarted.html
</a>

<br/><br/>

You can pay for your shares by logging in and
<a href="<%= url_for(:only_path => false,
     :controller => "projects", :action => "show", :id => @payment_window.project.id) %>">
  going to the project page</a> You will see a "Buy Now" button, which will allow you to do so.