@charset "UTF-8";
/* CSS Document */


body  {
    font: 100% MS "Trebuchet MS", Arial, Helvetica, sans-serif;
    background:url(/images/globalnav-bg-tile.gif) repeat-y;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    /*text-align: center;  this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
}
.thrColFix #container { 
    width: 1118px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
    background: url(/images/content-bg-tile.gif) 46px 0  repeat-y;
    margin: 0 0; /* the auto margins (in conjunction with a width) center the page */
    text-align: left; /* this overrides the text-align: center on the body element. */
    height:100%;
} 
.thrColFix #sidebar1 {
    float: left; /* since this element is floated, a width must be given */
    width: 46px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
    /* the background color will be displayed for the length of the content in the column, but no further */
    /*padding: 15px 10px 15px 20px;  padding keeps the content of the div away from the edges */
    height:100%;
}

#sidebar1 ul {
    margin:28px 0;
    padding:0;
    list-style-type:none;
    width:100%;
}

#sidebar1 ul.sidebar_nav li a img {
    border-width: 0px;
}

#sidebar1 li {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    height:45px;
}

#sidebar1 li a {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    height:45px;
}



.thrColFix #sidebar2 {
    top:0px;
    padding:0;
    float: right; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */	/*background: #EBEBEB;  the background color will be displayed for the length of the content in the column, but no further */
    /*padding: 15px 10px 15px 20px;  padding keeps the content of the div away from the edges */
}

/* set millions of background images */
.rbroundbox { background: url(/images/search/nt.gif) repeat; }
.rbtop div { background: url(/images/search/tl.png) no-repeat top left; }
.rbtop { background: url(/images/search/tr.png) no-repeat top right; }
.rbbot div { background: url(/images/search/bl.png) no-repeat bottom left; }
.rbbot { background: url(/images/search/br.png) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
    width: 245;
    height: 12px;
    font-size: 1px;
}

.rbcontent { 
    margin: 0 0px; }

.rbcontent form	{
    padding:0;
    margin:0;
}

.rbroundbox { width: 250px; margin: 0 0 1em 0; }

#sidebar2 fieldset	{
    float:left;
    margin-left:12px;
    margin-top:0;
    width:170px;
    border:0;
    font-size: 8pt;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
}

#sidebar2 label	{	
    float:left;
}

#sidebar2 #searchbox	{
    border:0;
    margin:0;
    padding:0;
}

#sidebar2 .supplementalnav	{
    padding:10px 0 0 0;
    margin:0 0 20px 0;
    list-style-type:none;
    color: #414142;
    font-size:90%;
    border-top:1px solid #414142;
    line-height:160%;
}

#sidebar2 .supplementalnav a	{
    text-decoration:none;
    color: #414142;
}

#sidebar2 .supplementalnav a:hover	{
    text-decoration:underline;
    color: #000;
}

#sidebar2 .login	{
    padding:0;
    margin:0 0 10px 0;
    list-style-type:none;
    color: #414142;
    font-size:90%;
}

#sidebar2 .login a	{
    text-decoration:none;
    color: #414142;
}

#sidebar2 .login a:hover	{
    text-decoration:underline;
    color: #000;
}


.thrColFix #mainContent {
    width:704px;
    margin: 18px 46px; /* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the sidebar spaces when the content in each sidebar ends. */
    padding: 0 0px 0 40px;  /*remember that padding is the space inside the div box and margin is the space outside the div box */
}

.thrColFix #mainContent .logo {
    border-width: 0px;
}

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}

.fltlft { /* this class can be used to float an element left in your page */
    float: left;
    margin-right: 8px;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.whitebox	{
    height:32px;
    margin-left:0px;
    margin-top:0px;
    width:200px;
    padding: 6px 0 0 0px;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -icab-border-radius: 6px;
    -khtml-border-radius: 6px;
    border:1px solid #dddab9;
    color:#666;
    letter-spacing:normal;
}

.whitebox img	{
    margin:0;
    padding:0;
    float:left;
}

.whiteboxcell	{
    display:inline;
    float:left;
    margin:0 10px 0 0;
    padding:0;
    background:#fff;;
    width:25%;
}

.whiteboxcelltitle	{
    color:#666;
    font-size:70%;
}

.whiteboxcell p {
    font-size:200%;
    color:#000;
    margin:0;
    padding:0;
}

.vanillabox	{
    margin-left:0px;
    margin-top:0px;
    width:100%;
    padding: 3px 0px;
    background: #fef9e8;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -icab-border-radius: 6px;
    -khtml-border-radius: 6px;
    border:1px solid #dddab9;
    color:#000;
    text-transform:capitalize;
    letter-spacing:normal;
}

.vanillabox h2	{
    margin:0 0 3px 12px;
    font-size:70%;
}

.vanillabox p	{
    font-size:70%;
}

.contentbox	{
    margin-left:0px;
    margin-top:0px;
    width:100%;
    padding: 3px 0px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -icab-border-radius: 6px;
    -khtml-border-radius: 6px;
    border:1px solid #000;
    letter-spacing:normal;
    margin:115px auto 0px auto;
}

.piratebox	{
    margin-left:0px;
    margin-top:0px;
    width:100%;
    padding: 3px 0px;
    background: #000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -icab-border-radius: 6px;
    -khtml-border-radius: 6px;
    border:1px solid #000;
    color:#fff;
    letter-spacing:normal;

}

.piratebox h2	{
    margin:0 0 3px 12px;
    font-size:70%;
    color:#fef9e8;
}

.piratebox p	{
    font-size:70%;
    color:#fef9e8;
}

.piratebox	a {
    margin:0 auto;
    color:#fff;
    text-decoration:none;
    font-size:80%;
}

.watchnow	{
    margin:0 0 0 6px;
    padding:0;
    list-style-type:none;
    width:100%;
    display:inline;
}

.watchnow li	{
    margin:0 0 0 6px;
    padding:0;
    list-style-type:none;
    width:100%;
    display:inline;
}

.featured-project img	{
    padding:0 0 0 12px;
    margin-bottom:12px;
    margin-right:12px;
}

.featured-project-text	{
    width:200px;
    float:left;
    padding:0;
    margin:0;
}

.featured-project-text	h3 {
    padding:0;
    margin:0;
}

.featured-project-text	h3 a {
    padding:0;
    margin:0;
    text-decoration:none;
    color:#000;
}

.featured-project-text	h3 a:hover {
    padding:0;
    margin:0;
    text-decoration:underline;
    color:#000;
}

.featured-project-text	span	{
    padding:0;
    margin:0;
    font-size:80%;
    color:#666;
}

#slidetabsmenu {
    height:26px;
    float:left;
    line-height:normal;
    margin-right:10px;
}

/** html #slidetabsmenu{ IE only. Add 1em spacing between menu and rest of content
margin-bottom: 1em;
}*/

#slidetabsmenu ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

#slidetabsmenu li{
    display:inline;
    margin:0;
    padding:0;
}

#slidetabsmenu a {
    float:left;
    background:url(/images/app-nav-bg-sd-left04.png) no-repeat left top;
    margin:0;
    padding:0 0 0 5px;
    text-decoration:none;
    width:100%;
}

#slidetabsmenu .goto {
    float:left;
    background:url(/images/app-nav-bg-sd-right01.png) no-repeat right top;
    padding:3px 14px 5px 5px;
}

#slidetabsmenu input	{
    width:50px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:1px solid #036;
    color:#036
}

#slidetabsmenu label {
    width:auto;
    text-align:left;
    padding:0px 5px 0px 5px;
    margin:0;
}

#slidetabsmenu a span {
    float:left;
    display:block;
    background:url(/images/app-nav-bg-sd-right04.png) no-repeat right top;
    padding:3px 5px 7px 3px;
    color:#3B3B3B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#slidetabsmenu a span {float:none;}
/* End IE5-Mac hack */

#slidetabsmenu a:hover span {
    color: black;
}

#slidetabsmenu #current a {
    background-position:0 -54px;
}

#slidetabsmenu #current a span {
    background-position:100% -54px;
    color: black;
}

#slidetabsmenu a:hover {
    background-position:0% -54px;
}

#slidetabsmenu a:hover span {
    background-position:100% -54px;
}

#slidetabsmenu-black {
    height:26px;
    float:left;
    line-height:normal;

}

/** html #slidetabsmenu{ IE only. Add 1em spacing between menu and rest of content
margin-bottom: 1em;
}*/

#slidetabsmenu-black ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

#slidetabsmenu-black li{
    display:inline;
    margin:0;
    padding:0;
}

#slidetabsmenu-black a {
    float:left;
    background:url(/images/app-nav-bg-sd-left04-red.png) no-repeat left top;
    margin:0;
    padding:0 0 0 5px;
    text-decoration:none;
    width:100%;
}

#slidetabsmenu-black .goto {
    float:left;
    background:url(/images/app-nav-bg-sd-right01.png) no-repeat right top;
    padding:3px 14px 5px 5px;
}

#slidetabsmenu-black input	{
    width:50px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:1px solid #036;
    color:#036
}

#slidetabsmenu-black label {
    width:auto;
    text-align:left;
    padding:0px 5px 0px 5px;
    margin:0;
}

#slidetabsmenu-black a span {
    float:left;
    display:block;
    background:url(/images/app-nav-bg-sd-right04-red.png) no-repeat right top;
    padding:3px 5px 7px 3px;
    color:#fff;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#slidetabsmenu-black a span {float:none;}
/* End IE5-Mac hack */

#slidetabsmenu-black a:hover span {
    color: white;
}

#slidetabsmenu-black #current a {
    background-position:0 -54px;
}

#slidetabsmenu-black #current a span {
    background-position:100% -54px;
    color: black;
}

#slidetabsmenu-black a:hover {
    background-position:0% -54px;
}

#slidetabsmenu-black a:hover span {
    background-position:100% -54px;
}

/*LOCAL NAVIGATION*/

#usernav	{
    width:100%;
    margin:23px 0 0 0;
    padding:0;
    height:40px;
    /*border:1px dotted black;*/
}

#usernav p	{
    float:left;
    background:#999;
    color:#fff;
    width:221px;
    font-size:90%;
    padding:5px;
    margin:0px 0 0 0;
    height:40px;
}

.usernavmenu	{
    float:left;
    margin:0 0 0 10px;
    padding:0;
    list-style-type:none;
    height:40px;
}

.usernavmenu li	{
    margin:0 0 0 20px;
    padding:0;
    display:inline;
    width:100px;
    height:40px;
    border-top:1px solid #999;
}

.usernavmenu span	{
    color:#666;
}

.usernavmenu a	{
    margin:0;
    padding:2px 10px 30px 2px;
    font-size:90%;
    color:#000;
    text-decoration:none;
    width:100px;
    height:40px;
}

.usernavmenu a:hover	{
    border-top:1px solid #999;
    text-decoration:none;
    background:#e6e7e8;
}


/*END OF LOCAL NAVIGATION*/

/*SEMANTIC MARK-UP FOR TABULAR INFORMATION*/

table {
    display:block;
    margin:20px 0 0 0;
    border:0px solid #000;
    border-collapse:collapse;
}

td,th{
    border:0px solid #000;
    border-collapse:collapse;
    padding:5px;
    font-size:70%;
    font-weight:normal;
    vertical-align:top;
}

table a	{
    text-decoration:none;
    color:#666;
}

table a:hover	{
    text-decoration:underline;
    color:#000;
}

td img	{
    display:block;
    margin:0 auto;
}

#poster{width:100px;}
#project-id{width:60px;text-align:center;}
#stats{width:120px;}
#brief-description{width:200px;}
#project-name{width:175px;}

/*caption{
background:#ccc;
font-size:140%;
border:1px solid #000;
border-bottom:none;
padding:0px;
text-align:left;
}*/

#id-content	{
    text-align:center;
    font-size:60%;
}

.stat-name	{

    text-align:left;
    font-size:90%;
    color:#666;
    font-weight:bold;
    display:block;
}

.pirate	.stat-value{
    display:block;
    text-align:left;
    font-size:90%;
    color:#fff;
    font-weight:bold;
}

.pirate	.stat-name {

    text-align:left;
    font-size:90%;
    color:#aaa;
    font-weight:bold;
    display:block;
}

.stat-value	{
    display:block;
    text-align:left;
    font-size:90%;
    color:#000;
    font-weight:bold;
}

thead th{
    background:#fef9e8;
    text-align:left;
    font-size:70%;
    color:#666;
    font-weight:bold;

}
tbody th{
    text-align:left;
    font-weight:bold;
    color:black;
    font-size:90%;
    background:none;
}

tfoot td{
    text-align:left;
    font-weight:bold;
    font-size:80%;
    background:#fef9e8
}

tfoot td a{
    text-decoration:none;
    color:#666;
}

tfoot td a:hover{
    text-decoration:underline;
    color:#000;
}


tbody td{
    background:#fff;
}
tbody tr.odd td{
    background:#fff;
}

tbody tr.pirate td{
    background:#000;
    color:#fff;
}

.pirate {
    text-align:left;
    font-weight:bold;
    color:black;
    font-size:100%;
    background:#000;
}

.pirate a {
    text-align:left;
    font-weight:bold;
    color:#aaa;
    font-size:100%;
    text-decoration:none;
}

.pirate a:hover {
    text-align:left;
    font-weight:bold;
    color:#fff;
    font-size:100%;
    text-decoration:underline;
}

.table-header	{
    width:100%;
    background:#fef9e8;
    margin:20px 0 0 0;
    padding:0;
}

/*END OF SEMANTIC MARK-UP FOR TABULAR INFORMATION*/

.footer	{
    font-size:70%;
    color:#666;
    margin-top:28px;
}


