/* Global CSS */

a img {
    border: none;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #666666;
    text-decoration: underline;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.pmf_clear {
    clear: both;
    height: 1px;
    float: none;
}

.pmf_clear_10 {
    clear: both;
    height: 10px;
    float: none;
}

.pmf_clear_20 {
    clear: both;
    height: 20px;
    float: none;
}

.pmf_clear_bottom_border {
    clear: both;
    height: 1px;
    border-bottom: 1px solid #333333;
    width: 100%;
    float: none;
}

.pmf_top_margin_10 {
    margin-top: 10px;
}

.pmf_bottom_margin_10 {
    margin-bottom: 10px;
}

div.dashed_light_border {
    border-bottom: 1px dashed #666666;
    height: 1px;
    clear: both;
}

div.banner {
    font-size: 13px;
}

.green_border {
    border: 1px solid #4F8A10;
}

.green_message {
    color: green;
    border: 1px solid #4F8A10;
    background-color: #DFF2BF;
    padding: 2px;
}

.warn {
    color: red;
    font-weight: bold;
}

p.bold {
    font-weight: bold;
}

/* Global CSS */

div#hp_latest_blog {
    float: left;
    width: 570px;
}

div#hp_latest_blog .blog-title {
    font-weight: normal;
    color: #666666;
    margin: 10px 0px;
}

div#hp_latest_blog div#container div.blog-entry {
    text-align: left;
    padding: 0px 15px;
}

div#hp_latest_blog div#hp_latest_blog_header {
    font-weight: bold;
    font-size: 18px;
    color: #666666;
    float: left;
}

div#hp_latest_blog div.blog-entry {
    text-align: left;
}

div#hp_latest_blog div.blog-entry span.short-date {
    font-weight: bold;
    margin-right: 5px;
}

div#hp_latest_blog div.blog-title {
    float: left;
    width: auto;
}

div#hp_latest_blog div.blog_comments_link {
    float: left;
}

div#signup_section {
    float: right;
    margin-top: 10px;
}

div#signup_section div#login_form_top div#fields {
    float: left;
    text-align: left;
}

div#signup_section div#login_form_top div#fields div.label {
    width: 65px;
    margin-top: 3px;
    float: left;
    margin-left: 5px;
}

div#signup_section div#login_form_top div#fields div.input {
    float: left;
}

div#signup_section div#login_form_top div#fields div.input input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 70px;
    height: 15px;
    border: 1px solid #666666;
    margin-top: 2px;
    background-color: #EEEEEE;
}

div#signup_section div#login_form_top div#controls input[type=submit] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 5px;
    background-image: none;
    background-color: #EEE;
    border: 1px solid #666;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    padding: 0px;
    text-align: center;
    width: 60px;
    float: left;
}

div#signup_section div#signup_link {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 5px;
    background-image: none;
    background-color: #6CE26C;
    border: 1px solid #666;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    width: 60px;
    float: right;
    text-decoration: none;
}

div#signup_section div#signup_link a div {
    color: #FFF;
}

div#signup_section div#login_form_top div#controls input[type=checkbox] {
    margin-left: 0px;
    float: left;
}

div#signup_section div#login_form_top div#controls {
    float: right;
    margin: 5px 0px 5px 0px;
}

div#signup_section div#login_form_top div#controls div.label {
    float: left;
    margin-right: 5px;
    width: auto;
    margin-top: 2px;
}

div#signup_section div#login_form_top input#user_login,
div#signup_section div#login_form_top input#user_password {
    width: 100px;
    float: left;
}

div#signup_section div#welcome_message {
    margin-top: 3px;
}

div#signup_section div#welcome_message div#icon {
    float: right;
    margin-top: -3px;
    margin-left: 3px;
}

div#signup_section div#welcome_message div#icon a img {
    height: 20px;
    border: 1px solid #999999;
}

div#signup_section div#welcome_message div#message {
    float: right;
    text-align: right;
    font-weight: bold;
}

div#signup_section div#welcome_message div#message a {
    font-weight: normal;
    clear: both;
    color: #000000;
}

div#profile_links {
    margin-top: 3px;
    float: right;
}

div#profile_links div.link {
    float: left;
}

div#profile_links div.link a {
    color: #000000;
    text-decoration: underline;
    font-size: 12px;
}

div#profile_links div.awaiting_payment_link a {
    color: #000000;
    font-weight: bold;
}

div#profile_links div.awaiting_payment_link a:hover {
    text-decoration: underline;
}

/* Latest Max Blog */

/* Top Menu */

.bubplastic.horizontal {
    width: 100%;
    height: 27px;
    margin: 0;
    padding: 0;
    background: #000000 url(/images/bg-bubplastic.gif) top left repeat-x;
}

.bubplastic.horizontal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bubplastic.horizontal ul li {
    float: right;
    margin: 0;
    padding: 0;
    background: transparent url(/images/bg-bubplastic-button.gif) top left no-repeat;
}

.bubplastic.horizontal ul li a {
    display: block;
    height: 27px;
    padding-left: 35px;
    float: left;
    text-transform: capitalize;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}

.bubplastic.horizontal ul li a span.menu_ar {
    display: block;
    float: left;
    height: 22px;
    padding-top: 5px;
    padding-right: 35px;
    background: transparent url(/images/bg-bubplastic-button.gif) top right no-repeat;
    cursor: pointer;
}

.bubplastic.gray ul li a:hover,
.bubplastic.gray ul li.highlight a {
    background: transparent url(/images/bg-bubplastic-h-gray.gif) top left no-repeat;
}

.bubplastic.gray ul li a:hover span.menu_ar,
.bubplastic.gray ul li.highlight a span.menu_ar {
    background: transparent url(/images/bg-bubplastic-h-gray.gif) top right no-repeat;
}

div#header_links {
    margin: 0px 40px;
}

div#header_links div#social_links {
    float: left;
    margin-top: 7px;
}

div#header_links div#social_links div#widget_link {
    float: left;
    margin-top: 6px;
    margin-left: 22px;
    font-family: menu;
}

div#header_links div#social_links div#widget_link a {
    font-weight: bold;
}

div#header_links div#social_links div.twitter-link {
    float: left;
}

div#header_links div#social_links div.fb-link {
    float: left;
}

div#header_links ul {
    float: right;
    list-style: none;
}

div#header_links ul li {
    float: left;
    margin-right: 15px;
    font-weight: bold;
}

div#header_links span.welcome_message {
    font-weight: bold;
}

div#topsite_links {
    margin-bottom: 4px;
}

div#topsite_links div#widget_link {
    float: left;
    margin: 2px 0px 0px 6px;
    font-weight: normal;
}

div#topsite_links div#widget_link a {
    color: black;
    text-decoration: underline;
}

div#topsite_links div#pmf_fund_stats_container {
    float: left;
    margin-top: 7px;
}

div#topsite_links div#pmf_fund_stats_container div.pic {
    float: left;
}

div#topsite_links div#pmf_fund_stats_container div.pic a img {
    height: 35px;
}

div#topsite_links div#pmf_fund_stats_container div#stats {
    margin: 10px 0px 0px 12px;
    font-weight: bold;
    float: left;
}

div#topsite_links div#pmf_fund_stats_container div#stats div.stat a {
    color: black;
    text-decoration: underline;
}

div#short_stats {
    width: 500px;
    margin: 5px 0px;
}

div#stats_container {
    text-align: left;
}

div#stats_container div.stat {
    color: black;
}

div#stats_container div.stat a {
    color: black;
    text-decoration: underline;
}

/* Top Menu */

/* Flash messages */

div#flashes p.error {
    padding: 2px;
    border: 1px solid #D8000C;
    color: #D8000C;
    background-color: #FFBABA;
}

div#flashes p.notice {
    padding: 2px;
    border: 1px solid #4F8A10;
    color: #4F8A10;
    background-color: #DFF2BF;
}

div#flashes p.positive {
    padding: 2px;
    border: 1px solid #4F8A10;
    color: #4F8A10;
    background-color: #DFF2BF;
}

/* Navigation */

div#sub_nav {
    margin: 10px 0px;
}

div#filter_param_box {
    margin: 10px 0px;
    float: right;
    color: #000000;
}

div#filter_param_box div.label {
    float: right;
    margin-top: 3px;
    width: auto;
    font-size: 14px;
}

div#filter_param_box form select {
    float: right;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    height: 22px;
    font-size: 13px;
    color: #666666;
    vertical-align: middle;
}

/* Navigation */

/* sub navigation */

div#subnav_links {
    float: left;
    margin-bottom: 6px;
}

div#subnav_links div.link {
    float: left;
    margin-right: 3px;
}

div#subnav_links div.link a {
    font-weight: bold;
    text-decoration: underline;
}

/* End sub navigation */

.project_listing_box {
    margin-top: 20px;
}

div.project_listings {
    clear: both;
}

.friend_link {
    font-weight: bold;
    clear: both;
}

.project_form td {
    vertical-align: top;
}

.project_form div.talent_select_text {
    float: left;
    margin-top: 6px;
}

.project_form div.talent_select {
    float: right;
    margin-right: 76px;
}

small	{
    font-size:110%;
}

.faq-index	{
    margin-top:5px;
    margin-bottom:15px;
    width:100%;
    background-color: #fff;
    border-top: 1px solid #C7BFCF;
    border-bottom: 1px solid #C7BFCF;
    display:block;
    padding: 3px;
}

.faq-index a	{
    display:block;
}

.faq-reply	{
    margin-top:5px;
    margin-bottom:15px;
    width:100%;
    background-color: #fff;
    border-top: 1px solid #C7BFCF;
    border-bottom: 1px solid #C7BFCF;
    display:block;
    padding: 3px;
}

.faq-reply	a {
    text-decoration: none;
}

.faq-reply	a:hover {
    text-decoration: none;
}

.backtotop	a {
    margin-top:5px;
    margin-bottom:15px;
    width:100%;
    background-color: #C7BFCF;
    display:block;
    padding: 3px;
    color: #fff;
    text-decoration:none;
}

.project-blog
{
    background-color: #f8f6ef;
    margin-top:10px;
    padding-bottom:15px;
}

.project-blog-title {
    margin-left: 25px;
    padding: 0;
    font-weight: bold;
    padding-top: 0.5em;
    font-size: 135%;
}

.blog-post {
    width: 91%;
    padding:0.4em;
    padding-left:15px;
    background:#efeadc;
    margin-left:30px;
    margin-bottom:3px;
    margin-top:30px;
}

.project-blog-link {
    margin-top:8px;
    background:#efeadc;
    width: 91%;
    padding:5px;
    padding-left:15px;
    margin-left:30px;
    margin-bottom:3px;
    margin-top:3px;
}

.project-blog-link a {
}

fieldset {  
    float: left;
    clear: both;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    border-style: none;
    border-top: 1px solid #fff;
    background-color: #f8f6ef;
}

fieldset div.header {
    margin: 20px 0px 0px 20px;
    font-weight: bold;
    font-size: 14px;
}

fieldset div.subheader {
    margin: 20px 0px 0px 20px;
    font-size: 12px;
}

fieldset ol {  
    padding: 3px;
    list-style: none;
}

fieldset ul{  
    padding-left: 0px;
    margin:5px 0 0 0;
    list-style: none;
    border-top:1px dotted #ccc;

}

fieldset ul li	{
    padding-left:0px;
    margin:0;
}

a.edit	{
    text-decoration:none;
    color:#666;
    float:right;
    font-weight:normal;
}

a:hover.edit 	{
    text-decoration:underline;
    color:#000;
}

fieldset li a	{
    color:#666;
}

fieldset li a:hover	{
    text-decoration:underline;
    color:#000;
}


fieldset p	{
    position: absolute;
    margin: 2.5em 0 0 2.5em;
}

fieldset li {  
    float: left;
    clear: left;
    width: 92%;
    padding:0.4em 1em 0.4em 1em;
    background:#efeadc;
    margin-left:2em;
    margin-bottom:3px;
}

fieldset.submit {  
    float: none;
    width: auto;
    padding-top: 1.5em;
    padding-left: 30em;
    background-color: #FFFFFF;
}

label {  
    float: left;
    width: 25em;
    margin-right: 1em;
}

label em {  
    display: block;
    color: #000;
    font-size: 75%;
    font-style: normal;
    text-transform: uppercase;
}

#textinput	{
    border:1px solid #666666;
    height:1.7em;
    width:20em;
}

fieldset#select	{
    border: 0;
}

/* Project Page */

.project_listings .project_row .view-lite-row-icon {
    border: 0px;
    padding: 0px;
}

div#project_blogs div.links {
    float: right;
    margin-right: 25px;
}

div#project_show div.top_share_buttons {
    margin: 5px;
    margin-right: 0px;
    float: right;
}

div#project_show div.top_share_buttons div.tweet_button {
    float: right;
    margin-left: 10px;
}

div#project_show div.top_share_buttons div.facebook_button {
    float: right;
}

div#project_show .view-lite-row-description .body {
    width:82%;
}

div#project_show div.reservation_form_container div.text {
    float: left;
    width: 350px;
    margin-top: 10px;
    font-weight: normal;
}

div#project_show div.reservation_form_container div.controls {
    float: left;
}

div#project_show .view-lite-row-description {
    padding: 1px 5px;
    width: 870px;
}

div#project_show div.latest_blog {

}

div#project_show div.latest_blog span.comments_link {
    float: right;
}

div#project_show div.latest_blog span.date {
    float: right;
    font-weight: bold;
}

.project-overview	{
    width:100%;
    background:#fff;
    text-transform: uppercase;
}

div.project_action_links {
    float: left;
    margin: 5px 0px;
}

div.project_action_links div {
    margin-top: 3px;
    margin-right: 5px;
}

div.project_action_links div a {
    font-weight: bold;
}

div.project_share_buttons {
    margin-top: 7px;
    float: right;
}

div.project_share_buttons div {
    float: left;
}

div.project_share_buttons div.facebook_like_button {
    margin-left: 10px;
}

div#project_blogs {
    margin-top: 20px;
}

#video	{
    width:640px;
    height:391px;
    margin-bottom:1em;
}

.project-overview-button	{
    background:#fff;
    width:120px;
    height:40px;
    float:left;
    margin-right:5px;
    margin-top:10px;
    line-height:9pt;
}

.project-overview-button span a:hover	{
    text-decoration:none;
    color: #000;
}

.project-overview-button span	{
    font-weight:bold;
    font-size:8pt;
    text-decoration:none;
    color: #b1b1b1;
    display:block;
    text-transform: uppercase;
}

.project-overview-button p	{
    margin:0px 0px 0px 0px;
    padding:0;
    font-weight:bold;
    color:#666666;
    text-transform: uppercase;
    font-size:8pt;
}

div.links {
    float: right;
    margin-right: 25px;
}

div#project_show div#subscription_buttons ul li.warn {
    color: red;
    font-weight: bold;
}

/* End Project Page */

/* Share Queue Page */

div#share_queue div#header {

}

div#share_queue div.window_info {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

div#share_queue div#queue_header div {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 70px;
}

div#share_queue div#queue_header div.subscription_outstanding_header {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 110px;
}

div#share_queue div#queue_header div.subscription_payment_status {
    width: 110px;
}

div#share_queue div#queue_header div.subscription_payment_window {
    width: 130px;
    margin-left: 10px;
}

div#share_queue div.subscription {
    margin-bottom: 20px;
    padding: 5px 0px 5px 0px;
}

div#share_queue div.odd {
    background-color: #F8F6EF;
}

div#share_queue div.outstanding {
    border: 1px solid #FFBABA;
}

div#share_queue div.subscription div.number {
    float: left;
    width: 70px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#share_queue div.subscription div.icon {
    float: left;
    width: 70px;
    margin-right: 10px;
}

div#share_queue div.subscription div.name {
    float: left;
    width: 70px;
    margin-top: 20px;
    margin-right: 10px;
}

div#share_queue div.subscription div.subscription_amount {
    float: left;
    width: 70px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#share_queue div.subscription div.subscription_outstanding {
    float: left;
    width: 110px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#share_queue div.subscription div.subscription_outstanding span.outstanding {
    color: #D8000C;
}

div#share_queue div.subscription div.subscription_payment_status {
    float: left;
    width: 110px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#share_queue div.subscription div.subscription_payment_window {
    float: left;
    width: 130px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

/* End Share Queue Page */

/* Payment Windows */

div#payment_window_history ol#payment_procedure_explanation {
    font-size: 13px;
}

div#payment_window_history div.window_header div {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 130px;
}

div#payment_window_history div.payment_window {
    margin-top: 10px;
    padding: 5px;
}

div#payment_window_history div.payment_window div {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    width: 130px;
}

div#payment_window_history div.payment_window div.pmf_clear {
    float: none;
}

div#payment_window_history div.odd {
    background-color: #F8F6EF;
}

div#payment_window_history div.payment_window div.window_id a {
    font-weight: bold;
}

div#payment_window_history div.payment_window div.window_status {
    font-weight: bold;
}

div#payment_window_history div.payment_window div.window_id div.link_img {
    margin-top: -7px;
    float: left;
    width: 34px;
}

div#payment_window div#subscription_payments div#header_cols div {
    font-weight: bold;
    margin-right: 10px;
    width: 90px;
    float: left;
}
div#payment_window div#subscription_payments div#header_cols div.payment_amount_header {
    width: 150px;
}

div#payment_window div#subscription_payments div.subscription_payment {
    margin-bottom: 20px;
    padding: 5px;
}

div#payment_window div#subscription_payments div.subscription_payment div.sp_id {
    float: left;
    width: 90px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#payment_window div#subscription_payments div.subscription_payment div.user_name {
    float: left;
    width: 90px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#payment_window div#subscription_payments div.subscription_payment div.share_amount {
    float: left;
    width: 90px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#payment_window div#subscription_payments div.subscription_payment div.share_price {
    float: left;
    width: 90px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#payment_window div#subscription_payments div.subscription_payment div.payment_amount {
    float: left;
    width: 150px;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
}

div#payment_window div#subscription_payments div.subscription_payment div.mark_as_paid {
    float: left;
    width: 90px;
    margin-top: 9px;
    font-weight: bold;
}

div#payment_window div#subscription_payments div.odd {
    background-color: #F8F6EF;
}

/* End Payment Windows */

/* Create project page */

form#new_project div#captcha_section {

}

/* Create project page */

/* Home page */

/* End Home page */

/* Profile page */

div#profile {
    margin-top: 10px;
}

div#profile div.half {
    width: 48%;
}

div#profile div.pageTitle {
    margin-top: 0px;
    margin-bottom: 20px;
}

div#profile div#profile_section {
    margin: 20px 0px;
}

div#profile div#profile_section div.avatar a img {
    border: 1px solid #666666;
    margin-left: 10px;
}

div#profile div#profile_section div.avatar div.follow_button {
    margin-top: 5px;
}

div#profile div#profile_section div.avatar div.follow_button div.following_text {
    font-weight: bold;
    margin-left: 30px;
    margin-top: 5px;
}

div#profile div#profile_section div#producer_rating_area {
    width: 360px;
}

div#profile div#profile_section div#producer_rating_area div.label {
    font-weight: bold;
    width: 170px;
    float: left;
}

div#profile div#profile_section div#producer_rating_area div.value {
    float: left;
}

div#profile div#profile_section div#producer_rating_area input#rating_submit {
    margin-left: 25px;
    margin-top: -6px;
}

div#profile div.profile_links {
    float: right;
    margin: 5px 0px;
}

div#profile div.profile_links div {
    float: left;
}

div#profile .bio_stuff {
    margin-left: 20px;
}

div#profile .bio_stuff div#user_info {
    margin-top: 10px;
}

div#profile .bio_stuff div.user_name {
    font-weight: bold;
    color: #666666;
    font-size: 14px;
}

div#profile .bio_stuff div#user_info div.label {
    font-weight: bold;
    width: 140px;
    float: left;
}

div#profile .bio_stuff div#user_info div.value {
    float: left;
}

div#profile div.portfolio_info {
    width: 450px;
}

div#profile div.portfolio_info div.title {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

div#profile div.portfolio_info div.stat_label_header {
    float: left;
    margin-right: 10px;
    width: 180px;
    color: #000000;
    font-weight: bold;
}

div#profile div.portfolio_info div.stat_label {
    float: left;
    margin-right: 10px;
    width: 275px;
}

div#profile div.portfolio_info div.stat_header {
    float: left;
    width: 110px;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
}

div#profile div.portfolio_info div.stat {
    float: left;
    width: 110px;
    font-weight: bold;
}

div#profile div.portfolio_info div.arrow {
    float: left;
    width: 20px;
}

div#profile div.portfolio_info div.arrow img {
    margin-top: 2px;
}

div#profile #content .bio_stuff div.pageTitle {
    margin-top: 0px;
}

div#profile div.membership_type {
    width: 450px;
}

div#profile div.membership_type div.title {
    color: black;
    font-size: 20px;
}

div#profile div#friend_info {
    margin-bottom: 12px;
}

div#profile div#friend_info div.title {
    margin-top: 3px;
    color: black;
    font-size: 20px;
    margin-bottom: 12px;
}

div#profile div#friend_info div.label {
    float: left;
    width: 150px;
}

div#profile div#friend_info div.value {
    float: left;
    width: 150px;
}

div#profile div#friend_info div#friend_link_container {
    margin: 5px 0px;
}

div#profile div#friend_info div#friend_link_container a {
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}

div#profile div#user_talents {
    margin-top: 20px;
}

div#profile div#user_talents div#current_talents div.list div.talent_label,
div#profile div#user_talents div#current_talents div.list div.link,
div#profile div#user_talents div#current_talents div.list div.link div.button {
    float: left;
}

div#profile div#user_talents div#current_talents div.list div.link {
    margin-top: 10px;
    margin-bottom: 5px;
}

div#profile div#user_talents div#current_talents div.list div.link input[type=submit] {
    margin-top: -7px;
    margin-left: 7px;
}

div#profile div#user_talents div#current_talents div.list div.link div.button {

}

div#profile div#user_talents div#current_talents div.list div.link div.label {
    width: auto;
    float: left;
}

div#profile div#user_talents div#current_talents div.list div.link div.value {
    margin-left: 10px;
    float: left;
}

div#profile div#user_talents div#current_talents div.list div#talent_ratings div.label {
    width: 75px;
}

div#profile div#user_talents div#current_talents div.list div#talent_ratings input#rating_submit {
    margin-top: -5px;
}

div#profile div#user_talents div#current_talents div.list div.talent_label {
    font-weight: bold;
    color: #000000;
    width: 200px;
    float: left;
}

div#profile div#user_talents div#current_talents div.list div.talent_label span.rating {
    font-weight: normal;
}

div#profile div#user_talents div#current_talents div.list div.talent_label span.rating span {
    font-weight: bold;
}

div#profile div#user_talents div#other_talents div.list div.talent_label,
div#profile div#user_talents div#other_talents div.list div.link,
div#profile div#user_talents div#other_talents div.list div.link div.button {
    float: left;
}

div#profile div#user_talents div.button_small {
    margin-top: -5px;
}

div#profile div#user_talents div#other_talents div.list div.talent_label {
    font-weight: bold;
    color: #000000;
    width: 200px;
    float: left;
}

/* End profile page */

/* Project Talent Page */

div#talents {
    height: 275px;
    overflow: scroll;
}

div#talents div.user_talent {
    float: left;
    margin-right: 15px;
}

div#talents div.user_talent div.user-icon {
    float: left;
    padding: 0px 4px;
    width: 70px;
    margin-right: 5px;
}

div#talents div.user_talent div.talent_info {
    float: left;
    margin-top: 7px;
}

div#talents div.user_talent div.talent_info div.rating span {
    font-weight: bold;
}

div#talents div.user_talent div.talent_info div.username {

}

div#talents div.user_talent div.talent_info div.rating {

}

/* End Project Talent Page */

/* Users Page */

div#users div#search_text {
    float: left;
    margin-top: 3px;
}

div#users div#user_search {
    float: left;
    margin: 15px 0px;
}

div#users div#filter_param_box {
    margin-top: 15px;
}

div#users div#search_text {
    clear: both;
}

div#users div#filter_param_box div.label {
    margin-left: 10px;
}

/* static pages */

div.static_content {
    margin: 20px 0px;
}

/* end static pages */

#footer	{
    background: #fff url(/images/footer-contents-bg.gif) repeat-x left top;
    height: 64px;
    font-size:85%;
    line-height: 3.1em;
}

#footer ul	{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer li	{
    float: left;
    margin: 0 0.7em;
}

#footer li a	{
    height: 2em;
    /*line-height: 2.8em;*/
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #666;
    font-weight:bold;
}

#footer li a:hover	{
    text-decoration: underline;
    color: #000;
}

/* Hide from IE5-Mac */
#footer-contents li a	{
    float: none
}
/* End hide */

#icatch	{
    margin-top: 3px;
}

.icatch-pictures {
    width: 100%;
    float: left;
}

.nav-bar	{
    background:#fff;
    width:640px;
    height:35px;
    position:absolute;
    top:88px;
    margin:0;

}

.navbar-search {
    float:right;
    width: 260px;
}

.icatch-button	a {
    float:left;
    margin-right:5px;
}

#search	{
    background: #fff url(/images/brand-search-bg.gif) repeat-x left top;
    padding:0px 10px;
    height:40px;
    text-align:center;
    margin-left: 5px;
}

#search form	{
    padding:0;
    margin:0;
}

#search_q	{
    border:1px solid #666;
    vertical-align:middle;
    margin-bottom:24px;
    color: #666;
    padding-left:3px;
}

div#filter_projects_nav {
    margin-top: -13px;
}

div#filter_projects_nav div#filter_param_box select {
    width: 130px;
    margin-right: 0px;
    font-size: 12px;
}

div#filter_users_nav {
    margin-top: -13px;
}

div#filter_users_nav div#filter_param_box select {
    width: 130px;
    font-size: 12px;
}

.big-number	{
    margin-right: 60px;
    margin-top:30px;
    float:left;
}

.big-number p	{
    font-size: 20px;
    color: #000000;
    font-weight:bold;
    margin:0px;
}

/* Signup Page */

div#signup_form div#captcha_section {
    margin-left: 228px;
}

/* End Signup Page */

/* Top Site */

div#header div#widget_link {
    font-size: 14px;
    float: right;
    font-weight: bold;
}

div#header div#stats_container {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#stats_page div#stats div.sitewide_portfolio_info {
    margin: 15px 0px 15px 0px;
    width: 460px;
}

div#stats_page div#stats div.sitewide_portfolio_info div#winners {
    float: left;
}

div#stats_page div#stats div.sitewide_portfolio_info div#losers {
    float: left;
    margin-top: 10px;
}

div#stats_page div#stats div.sitewide_portfolio_info div.title {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

div#stats_page div#stats div.sitewide_portfolio_info div.explain {
    margin-bottom: 10px;
    color: black;
    font-size: 12px;
}

div#stats_page div#stats div.sitewide_portfolio_info div.stat_label_header {
    float: left;
    margin-right: 10px;
    width: 70px;
    color: #000000;
    font-weight: bold;
}

div#stats_page div#stats div.sitewide_portfolio_info div.stat_header {
    float: left;
    margin-right: 10px;
    width: 140px;
    color: #000000;
    font-weight: bold;
}

div#stats_page div#stats div.sitewide_portfolio_info div.stat_label {
    float: left;
    margin-right: 10px;
    width: 70px;
}

div#stats_page div#stats_page div#stats div.sitewide_portfolio_info div.stat_header {
    float: left;
    width: 120px;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
}

div#stats_page div#stats div.sitewide_portfolio_info div.stat {
    float: left;
    width: 120px;
    font-weight: bold;
    margin-right: 10px;
}

div#stats_page div#stats div.sitewide_portfolio_info div.move {
    width: 150px;
    float: left;
    font-weight: bold;
}

div#stats_page div#stats div.sitewide_portfolio_info div.arrow {
    float: left;
    width: 20px;
}

div#stats_page div#stats div.sitewide_portfolio_info div.arrow img {
    margin-top: 2px;
}

div#stats_left {
    float: left;
}

/* End Top Site */

form	{
    margin:0;
    padding:0;
}

#header #brand a img {
    width: 146px;
    float: left;
}

div#ad_banner {
    float: right;
}

div#site_wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff url(/images/login-bg.gif) repeat-x top left;
}

div#site_wrapper div#content_container {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

#stage	{
    
}

#logintop	{
    background: url(/images/login-contents-bg.gif) repeat-x left top;
    margin:0px auto;
    padding:0 100px 0 100px;
    height: 30px;
}

.login-panel	{
    background-image:none;
    width:100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    position:relative;
}

#login-console	{
    position:absolute;
    top:0px;
    left:80px;
    width:100%;
    visibility:hidden;
    z-index:10;
    font-size:100%;
    line-height: 2.4em;
    margin:0px auto;
}

#login-contents	{
    background: url(/images/login-contents-bg.gif) repeat-x left top;
    font-size:85%;
    line-height: 2.4em;
    margin:0px auto;
    width:100%;
    height: 30px;

}

#login-contents a	{
    color:#666;
    text-decoration: none;
}

#login-contents a:hover	{
    color:#000;
    text-decoration: underline;
}

#login-contents ul	{
    list-style: none;
    padding: 0;
    margin: 0;
}

#login-contents li	{
    float: left;
    margin: 0 0.5em;
}

#login-contents li a	{
    height: 2em;
    line-height: 2.4em;
    float: left;
    /*display: block;*/
    text-decoration: none;
    text-align: center;
    color: #666;
}

#login-contents li a:hover	{
    text-decoration: underline;
    color: #000;
}

/* Hide from IE5-Mac */
#login-contents li a	{
    float: none;
}

#content .editForm input[type=text] {
    width: 100%;
    border:1px;
}

#content .error {
    color: red;
}

#content .error a, #content .alert a {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 10px;
}

/*body {
font-family: Verdana, "Trebuchet MS", Arial;
background: #333333;
}*/

body	{
    background: #fff url(/images/body-bg-2.png) repeat-x;
    font-size:0.8em;
    line-height:1.4em;
    font-family: "lucida grande", "tahoma", "arial", "sans-serif";
    margin:0;
    padding:0;
    font-size: 12px;
    color:#666666;
}

.rightFloat {
    float: right;
}
head:first-child+body .floatButtonFormat, head:first-child+body .pageFooter {	/*fix for FF floating buttons - hide from IE & Opera*/
    float: none;
    height: 20px;
}
.floatButtonFormat, .pageFooter {
    margin: auto;
    width: 90%;
    margin-top: 5px;
}

#globalHeader {
    height: 30px;
}

#globalHeader div {
    padding: 5px;
}

#globalHeader .text {
    font-size: 11px;
    font-weight: bold;
}

#globalHeader a {
    text-decoration: none;
}

#globalHeader a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#globalHeader ul {
    list-style-type: none;
    margin: 0pt;
    padding: 0pt;
}

#globalHeader li {
    float: left;
    margin: 0pt 0pt 2px 0.7em;
    padding: 0pt 0pt 0pt 0.7em;
}

#header {
    margin: 10px 0px;
    text-align: left;
}

#header.collapsed {
    height: 220px;
}


#header a {
    color: #666;
    text-decoration:none;
}

#header a:hover {
    color: #000000;
    text-decoration:underline
}

#content {
    clear: both;
    padding-top: 9px;
    margin-top: 1px;
    display: block;
    text-align: left;
    background: url(/images/content-bg.gif) repeat-x left top;
}

#content .takeAction {
    color: blue;
    text-decoration: underline;
}

#content a:hover {
    color:#000;
    text-decoration: underline;
}

#content a img {
    position: relative;
}

#content .editor {
    padding: 10px 0pt;
}

#content input[type=submit] {
    color: #666666;
    font-weight: bold;
    font-size: 11px;
    border: 0px;
    background: transparent url(/images/button_bg.png) left top;
    padding: 9px 10px 10px 10px;
    width: 120px;
    cursor: pointer;
    text-align: center;
}

#content input[type=submit].button_small {
    background: url(/images/button_bg_small.png) transparent left top;
    padding: 5px 3px 4px 3px;
    width: 62px;
    text-align: center;
}

#content .label {
    width: 100%;
    position: relative;
}

#content .options {
    height: 50px;
}

#content .pageFooter {
}

.pageTitle {
    border-bottom: 1px dashed #666666;
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.pageTitleSmall {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pageTitleSmaller {
    font-size: 13px;
    font-weight: bold;
    color:#636363;
    clear: both;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content .pageSubTitle {
    font-size: 14px;
    text-decoration: underline;
}

#content .subHead {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #888888;
    border-bottom: 2px solid #666666;
    height: 20px;
    margin: 10px 0pt;
}

#content .table , #content .menu {
    margin:auto;
    padding: 10px 5pt;
    color:#666666;
}	

.table th	{
    background: #fff url(/images/thead-bg.gif) repeat-x;
    height:22px;
    padding:3px;
    color:#666;
    font-size:0.9em;
}

.table tr td	{
    font-size:0.9em;
    vertical-align:middle;

}

#content .table input.textField, #content .editor input.textField {
    margin:0px auto;
    padding:0px 0;
    width: 95%;
}
#content .table td {
    text-align: left;
    padding:0px 0;
}

#content .text {
    font-size: 12px;
    font-weight: bold;
}

#comment textarea {
    width: 50%;
    margin: auto;
}

#SetupCard .floatButtonFormat, #ConfirmBilling .floatButtonFormat {
    width: 100%;
}

#preview .status {
    font-size: 14px;
}

#resultTable tr:hover {
    background-color: #999999;
    color: #000000;
}

#resultTotal {
    text-align: center;
    background-color: orange;
    border: 1px solid #FFFFFF;
    font-weight: bold;
}

#searchCriteria {
    font-size: 11px;
    padding: 10px;
}

#content .skins {
    margin:20px auto;
    width:600px;
    padding: 20px;
    _padding: 0pt;
    border:#ded5a8 1px solid;
}

#editFiles {
    height: 20px;
}

#editFiles ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
}

#editFiles li {
    margin: 0pt 10pt 0px 0.0em;
    padding: 0pt 0pt 0pt 0.0em;
    display:inline;
}

#restoreCSS {	
    text-align: center;
}

#uploadLogo .label, #switchTheme .label, #editFiles .label, #siteName .label {
    padding-bottom:5px;
}

#footer .text a {
    text-decoration: none;
    color: #FFFFFF;
}

#footer .text a:hover {
    text-decoration: underline;
}

.splash	{
    margin:0px auto 0px auto;
    padding-top:20px;
    width:640px;
    background:#fff;
}

br {
    clear:both;
    margin:0;
    padding:0;
}

.beta-button	{
    position:relative;
    left:420px;
    width:201px;
}

.large-logo	{
    position:relative;
    left:70px;
    top:0px;
    margin-bottom:10px;
}

.corner	{
    position:relative;
    left:0px;
    top:-120px;
}

span p {
    margin:0px;
    padding:0;
    width:450px;
    display:block;
    position:relative;
    left:96px;
}

.how-to-col01 {
    float:left;
    width:165px;
    height:250px;
}

.how-to-col02 {
    float:left;
    width:600px;
    height:250px;
    padding:0;
}

.how-to-col03 {
    float:left;
    width:200px;
    height:250px;
}

div.TabView div.Tabs {
    margin-top: 15px;
}

div.TabView div.Tabs a {
    font-size: 10pt;
    margin-bottom: 3px;
    display: block;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
}

div.TabView div.Tabs a:hover {
    text-decoration: underline;
}

div.TabView div.Tabs a:visited {
    color: blue;
}

div.TabView div.Pages {
    clear: both;
    overflow: hidden;
}

div.TabView div.Pages div.Page {
    height: 230px;
    padding: 0px;
    overflow: hidden;
}

div.TabView div.Pages div.Page div.Pad {
    padding: 0px 0px;
}

.local-navbar-button	{
    background:#ccc url(/images/local-nav-bg.png) top left repeat-x;
    width:120px;
    height:40px;
    float: left;
    margin-right:5px;
    border-right: 1px solid #999999;
}

div#new_project_button {
    width: 100px;
    padding-right: 45px;
    float: left;
}

div#new_project_button {
    
}

.local-navbar-button span a	{
    text-decoration:none;
    color: #666;
    font-size: 12px;
    float: left;
    margin-left: 3px;
}

.local-navbar-button span a:hover {
    text-decoration:none;
    color: #000;
}

.local-navbar-button span {
    margin:4px 3px 0px 3px;
    color: #666;
    font-weight:bold;
    font-size:9pt;
}

.local-navbar-button p {
    margin:1px 3px 0px 3px;
    font-weight:normal;
    font-size:7pt;
    line-height:7pt;
    color: #8b8b8b;
    float: left;
}

.local-navbar-username {
    background:#fff;
    width:120px;
    height:40px;
    float:left;
    margin-right:5px;
    margin-top:5px;
    line-height:20px;
}

.local-navbar-username p	{
    margin-left:6px;
    color:#000;
    font-weight:bold;
    font-size:9pt;
    display:inline;
    vertical-align:top;
}

div.project_listings .blog-row { 
    height: 130px;
}

.view-lite-row	{
    float: left;
    clear: both;
    width: 870px;
    height: auto;
    padding: 5px 5px 7px 5px;
    border-style: none;
    background-color: #f8f6ef;
    border-bottom: 1px solid #999999;
}

.view-lite-row-alt	{
    float: left;
    clear: both;
    width: 870px;
    height: auto;
    padding: 5px 5px 7px 5px;
    border-style: none;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
}

/* blogs */

div.blog-row {
    margin-top: 10px;
    min-height: 100px;
}

div.blog-row div.new_project_text {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 4px;
}

div.blog div.blog_left {
    width: 64%;
    float: left;
}

div.blog div.blog_left div.icon {
    float: left;
    width: 70px;
}

div.blog div.blog_left div.icon div.follow_button {
    margin-top: 4px;
    margin-left: -2px;
}

div.blog div.blog_left div.icon div.follow_button div.following_text {
    margin-left: 2px;
    margin-top: 2px;
}

div.blog div.blog_left div.icon a img {
    width: 60px;
    margin-right: 10px;
}

div.blog div.blog_left div.info {
    float: left;
    width: 80%;
}

div.blog div.blog_left div.info div.blog_type {
    float: left;
    margin-right: 10px;
    font-size: 13px;
}

div.blog div.blog_left div.info div.blog_type a {
    font-weight: bold;
    color: #000000;
}

div.blog div.blog_left div.info div.blog_type span {
    font-weight: bold;
    color: #000000;
}

div.blog div.blog_left div.info div.user_info {
    float: left;
    margin-right: 4px;
    margin-top: -4px;
}

div.blog div.blog_left div.info div.user_info div.user_icon {
    float: left;
    margin-right: 4px;
}

div.blog div.blog_left div.info div.user_info div.user_icon a img {
    height: 25px;
    width: 25px;
}

div.blog div.blog_left div.info div.user_info div.user_name {
    float: left;
    margin-top: 3px;
}

div.blog div.blog_left div.info div.user_info div.user_name a {
    font-weight: bold;
}

div.blog div.blog_left div.info div.project_title {
    float: left;
    margin-right: 4px;
    margin-top: 4px;
}

div.blog div.blog_left div.info div.project_title a {
    font-weight: bold;
    color: #000000;
}

div.blog div.blog_left div.info div.blog_title {
    float: left;
    margin-top: 4px;
}

div.blog div.blog_left div.info div.blog_title a {
    font-weight: bold;
    color: #000000;
}

div.blog div.blog_left div.info div.blog_body {
    margin-top: 4px;
}

div.blog div.blog_right div.blog_comments_link {
    float: right;
    margin-top: 5px;
}

div.blog div.share_buttons {
    float: right;
    margin-left: 5px;
}

div.blog div.share_buttons div.tweet_button {
    float: right;
    margin-left: 10px;
}

div.blog div.share_buttons div.facebook_button {
    float: right;
}

.blog-date {
    margin: 5px;
    margin-top: 0px;
    font-weight: bold;
    float: right;
}

div#subnav_links {
    border-bottom: 1px dashed #666666;
    width: 100%;
}

div#subnav_links span.fund_image_comments_subnav {
    margin-top: 2px;
    margin-right: 4px;
    float: left;
}

div#subnav_links span.fund_image_blog_subnav {
    margin-top: -2px;
    margin-right: 2px;
    float: left;
}

div#subnav_links span.mkc_image_blog_subnav {
    margin-top: 1px;
    margin-right: 4px;
    float: left;
}

div.comment_scroll div.profile-pic a img {
    width: 70px;
    height: 70px;
}

div#producer_blog_header {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 12px;
}

div#producer_blog_header div.text {
    float: left;
    margin-right: 4px;
}

div#producer_blog_header div.user_info div.user_icon {
    float: left;
}

div#producer_blog_header div.user_info div.user_icon a img {
    height: 20px;
    margin-right: 4px;
}

div#producer_blog_header div.user_info div.user_name {
    float: left;
}

div#producer_blog_header div.user_info div.user_name a {
    font-weight: bold;
    font-size: 12px;
}

/* end blogs */

/* admin section */

div.admin_section div.pageTitle {
    margin-bottom: 20px;
}

div.admin_section ul#tabs {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0px;
    border-bottom: 1px solid #666666;
}

div.admin_section ul#tabs LI {
    float:left;
    margin:0;
    padding:0;
}

div.admin_section ul#tabs A {
    display:block;
    color:#444;
    text-decoration:none;
    font-weight:bold;
    background:#ddd;
    margin-right: 3px;
    padding:0.25em 1em;
    border: 1px solid #000000;
    border-bottom-width: 0px;
}

div.admin_section ul#tabs A:hover,
div.admin_section ul#tabs A:active,
div.admin_section ul#tabs A.selected:link,
div.admin_section ul#tabs A.selected:visited {
    background: #FFFFFF;
    margin-bottom: -1px;
    border-bottom: 1px solid #FFFFFF;
}

/* end admin section */

/* user admin section */

div.admin_section div.users div#search_text {
    margin-top: 3px;
    font-weight: bold;
}

div.admin_section div.users div#user_search {
    float: right;
}

div.admin_section div.users div.user {
    margin: 10px 0px;
    text-align: center;
}

div.admin_section div.users div.headers div {
    float: left;
    font-weight: bold;
    font-size: 13px;
    width: 150px;
}

div.admin_section div.users div.user div {
    float: left;
    margin-top: 15px;
    width: 150px;
    text-align: left;
    font-weight: bold;
}

div.admin_section div.users div.user div.icon {
    margin-top: 0px;
}

div.admin_section div.users div.headers div.email_header {
    width: 300px;
}

div.admin_section div.users div.headers div.membership_type_header {
    width: 250px;
}

div.admin_section div.users div.user div.email {
    width: 300px;
    float: left;
}

div.admin_section div.users div.user div.membership_type {
    width: 250px;
}

div.admin_section div.users div.user div.membership_type form select {
    float: left;
}

div.admin_section div.users div.user div.membership_type form div.submit {
    float: left;
    margin-top: -6px;
    margin-left: 25px;
}

/* end user admin section */

/* project admin section */

div#project_show h3.deleted_notice {
    padding: 2px;
    border: 1px solid #D8000C;
    color: #D8000C;
    background-color: #FFBABA;
}

div#project_show div.highlight_symbol {
    padding: 2px;
    border: 1px solid #4F8A10;
    color: #4F8A10;
    background-color: #DFF2BF;
}

div#project_show h3.flagged_notice {
    padding: 2px;
    border: 1px solid #D8000C;
    color: #D8000C;
    background-color: #FFBABA;
}

/* project admin section */

/* pmf buyout admin section */

div#buyout_requests div#header_cols {

}

div#buyout_requests div#header_cols div {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 125px;
}

div#buyout_requests div#header_cols div.status {
    width: 110px;
}

div#buyout_requests div#header_cols div.project {
    width: 130px;
}

div#buyout_requests div.request div {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 125px;
}

div#buyout_requests div.request div.project {
    width: 130px;
}

div#buyout_requests div.request div.status {
    width: 110px;
}

div#buyout_requests div.request {
    margin-top: 10px;
    padding: 5px;
}

div#buyout_requests div.request div.pmf_clear {
    float: none;
}

div#buyout_requests div.odd {
    background-color: #F8F6EF;
}

/* end pmf buyout admin section */

.view-lite-row-title {
    background:#fff;
    color:#666666;
    font-size:60%;
    font-weight:bold;
    padding:0;
    margin:10px 0 0 0;
    border-bottom:2px solid #666666;
}

.view-lite-row-title div {
    font-weight: bold;
    font-size: 13px;
}

.view-lite-row-title-icon {
    display:inline;
    float:left;
    padding-right:5px;
    width:95px;
}

.view-lite-row-title-project-name {
    width:150px;
    float:left;
}

.view-lite-row-title-user-icon {
    width:80px;
    float:left;
    text-align:center;
}

.view-lite-row-title-numbers {
    width:200px;
    padding-left:10px;
    float:left;
}

.view-lite-row-title-description {
    width:175px;
    float:left;
    padding-left:9px;
}

.view-lite-row-icon	{;
                     display: inline;
                     margin-top: 10px;
                     padding: 12px 0px;
                     float: left;
                     text-align: center;
                     width: 118px;
                     margin-top: 4px;
}

.view-lite-row-icon img {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.view-lite-row-project-name	{
    margin-bottom: 3px;
    margin-left: 8px;
    width: 650px;
    float: left;
    padding-bottom: 2px;
    float:left;
}

.view-lite-row-project-green-light {
    width: 140px;
    margin-right: 67px;
    margin-top: 14px;
    font-size: 14px;
    float: right;
    font-weight: bold;
    text-align: right;
    color: #000000;
}

.view-lite-row-project-green-light span.off {
    color: red;
}

.view-lite-row-project-green-light span.on {
    color: green;
}

.view-lite-row-project-name div.link_arrow {
    float: left;
}

.view-lite-row-project-name span.link_arrow img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    margin-left: 2px;
}

.project_extra_info {
    margin-top: 3px;
    width: 410px;
    float: left;
    padding-bottom: 2px;
    float: left;
}

.view-lite-row-project-name a {
    font-size: 13px;
    font-weight:bold;
    color: #000000;
    text-transform: capitalize;
    text-decoration: none;
}

.view-lite-row-project-link {
    float: right;
    font-weight: bold;
    margin-right: 26px;
}

.view-lite-row-project-name a:hover	{
    text-decoration:underline;
    color:#000;
}

.view-lite-row-user-icon {
    height:110px;
    width:75px;
    float:left;
    text-align:center;
    margin-top:5px;
}

.view-lite-row-user-icon span {
    display:block;
    font-size:70%;
    text-align:center;
    margin-top:5px;
}

.user-icon {
    text-align: center;
    float: left;
    padding: 10px;
    width: 115px;
}

.user-icon div.follow_button {
    margin-left: 25px;
}

.user-icon div.follow_button div.following_text {
    margin-left: 2px;
    margin-top: 3px;
}

.user-icon span {
    display:block;
}

.view-lite-row-user-icon span a	{
    color:#636363;
    text-decoration:none;
}

.view-lite-row-user-icon span a:hover {
    color:#000;
    text-decoration:underline;
}

.view-lite-row-numbers {
    width: 214px;
    padding-left: 10px;
    float: left;
}

.view-lite-row-numbers ul li.fully_funded_textline {
    text-align: center; font-weight: bold; width: 100%;
}

.view-lite-row-numbers ul li.fully_funded_textline a {
    color: #000000;
    text-decoration: underline;
}

.view-lite-row-numbers ul {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.view-lite-row-numbers li {
    float: left;
}

#content .view-lite-row-numbers li.label {
    font-size:11px;
    font-weight:bold;
    color:#666666;
    text-decoration:none;
    width: 140px;
    margin-bottom: 1px;
    overflow: hidden;
}

#content .view-lite-row-numbers li.stat {
    text-align: left;
    color: #636363;
    width: 74px;
    margin-bottom: 1px;
    overflow: hidden;
}

.view-lite-row-numbers li span {
    color: #636363;
}

.view-lite-row-words {
    width: 270px;
    padding-left: 10px;
    float:left;
}

.view-lite-row-words ul {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.view-lite-row-words li {
    float: left;
}

#content .view-lite-row-words li.label {
    font-size:11px;
    font-weight:bold;
    color: #444444;
    text-decoration:none;
    width: 125px;
    margin-bottom: 1px;
    overflow: hidden;
}

div.view-lite-row div.view-lite-row-project-name span.edit_link a ,
div.view-lite-row-alt div.view-lite-row-project-name span.edit_link a {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    color: #444444;
}

#content .view-lite-row-words li.stat {
    text-align: left;
    color: #636363;
    width: 140px;
    margin-bottom: 1px;
    overflow: hidden;
}

.view-lite-row-words li span {
    color: #636363;
}

.view-lite-row-comment {
    width: 100%;
    padding: 3px 0px;
    float: left;
}

.view-lite-row-comment a {
    color:#636363;
    text-decoration:none;
}

.view-lite-row-comment .header {
    width: 130px;
    float: left;
    color: #636363;
    font-weight: bold;
    font-size: 11px;
    text-decoration:none;
}

.view-lite-row-comment .body {
    float: left;
}

.view-lite-row-comment ul {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.view-lite-row-comment li {
    font-size:100%;
    font-weight:bold;
    color:#b1b1b1;
    text-decoration:none;
}

.view-lite-row-comment li span {
    display:block;
    color:#636363;
}

.view-lite-row-description {
    width: 100%;
    float: left;
    margin-top: 5px;
    padding: 3px 0px;
    color: #636363;
    background-color:#F8F6EF;
    border-bottom:1px dotted #666666;
}

.view-lite-row-description a {
    color:#636363;
    text-decoration:none;
}

.view-lite-row-description .header {
    width: 270px;
    float: left;
    color: #636363;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}

.view-lite-row-description .body {
    float: left;
    width: 100%;
    padding: 5px 10px;
}

.view-lite-row-description a:hover {
    color:#000;
    text-decoration:underline;
}

.view-buttons {
    width:100%;
    text-align:right;
}

.row {
    width:560px;
    margin:0 0 10px 0;
    padding:0;
}

.row label {
    text-align:right;
}

.row label {
    float: left;
    width: 300px;
    margin-right: 1em;
}

.row input[type=text] {
    width: 225px;
}

.row input[type=password] {
    width: 225px;
}

.row input[type=checkbox] {
    margin-left: 0px;
}

.row input.text {
    width: 100px;
} 

#main {
    
}

.instruction {
    margin: 0 10px 10px 0;
}

.instruction ul	{
    list-style-type: none;
    margin: 0.5em 0 0 20em;
    padding: 0;
}

.instruction li	{
    display:inline;
    margin-right:5px;
}

.submit-membership
{
    text-align:center;
    padding-right:50px;
    padding-top:20px;
}

#content a.subnav_inactive {
    text-decoration: underline;
}

div#admin_stats {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-comment
{
    margin-bottom:30px;
    margin-left:100px;
}

.profile-pic
{
    float:left;
}

/* Form Errors */

.fieldWithErrors input {
    border: 2px solid red;
    background-color: #FFBABA;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #FF0000;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

/* End form errors */

/* link buttons */

div.button {
    background: url(/images/button_bg.png) transparent left top;
    padding: 9px 10px;
    width: 100px;
    text-align: center;
}

div.button a {
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    font-size: 11px;
}

div.button a:hover {
    text-decoration: none;
}

div.button_small {
    background: url(/images/button_bg_small.png) transparent left top;
    padding: 5px 3px 4px 3px;
    width: 58px;
    text-align: center;
}

div.button_small a {
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    font-size: 11px;
}

div.button_small a:hover {
    text-decoration: none;
}

/* end link buttons */

/* pagination */

div.pagination {
    margin: 10px 0px;
    float: right;
}

div.pagination span.prev_page,
div.pagination span.next_page,
div.pagination a {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #666666;
    background-color: #eeeeee;
    padding: 5px;
    text-decoration: none;
    color: #666666;
}

div.pagination a:hover {
    text-decoration: none;
}

div.pagination .disabled {
    visibility: hidden;
}

/* modal div */

div.overdiv {
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75;
    background-color: #c0c0c0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; height: 100%;
}

div.square {
    position: absolute;
    top: 200px;
    left: 200px;
    border: #f9f9f9;
    height: 200px;
    width: 300px;
}

div.square div.msg {
    color: #3e6bc2;
    font-size: 15px;
    padding: 15px;
}

/* end modal div */

/* Project Widget */

body#widget {
    background: #ffffff;
}

div.project_listings_widget {
    width: 298px;
    background: #fcf8e8;
    border: 1px solid #dcdab8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div.project_listings_widget div.project_widget_header img {
    width: 297px;
}

div.project_listings_widget div.project_widget_footer img {
    width: 297px;
}

.view-lite-row-widget	{
    clear: both;
    width: 287px;
    height: 110px;
    padding: 5px;
    border-style: none;
    background-color: #f8f6ef;
    border-bottom: 1px solid #999999;
}

.view-lite-row-alt-widget {
    clear: both;
    width: 287px;
    height: 110px;
    padding: 5px;
    border-style: none;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
}

.view-lite-row-project-name-widget	{
    margin-bottom: 3px;
    margin-left: 8px;
    padding-bottom: 2px;
    float:left;
}

.view-lite-row-project-name-widget a {
    font-size: 13px;
    font-weight:bold;
    color: #000000;
    text-transform: capitalize;
    text-decoration: none;
}

.view-lite-row-icon-widget {;
                            display: inline;
                            margin-top: 10px;
                            padding: 5px;
                            float: left;
                            text-align: center;
                            width: 75px;
                            margin: auto;
}

.view-lite-row-icon-widget img {
    height: 70px;
    width: 70px;
}

.view-lite-row-numbers-widget {
    width: 195px;
    float: left;
}

.view-lite-row-numbers-widget ul {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.view-lite-row-numbers-widget li {
    float: left;
}

.view-lite-row-numbers-widget li.label {
    font-size:11px;
    font-weight:bold;
    color:#666666;
    text-decoration:none;
    width: 120px;
    margin-bottom: 1px;
    overflow: hidden;
}

.view-lite-row-numbers-widget li.stat {
    text-align: left;
    color: #636363;
    width: 74px;
    margin-bottom: 1px;
    overflow: hidden;
}

.view-lite-row-numbers-widget li span {
    color: #636363;
}

/* End Project Widget */

/* Stats Page */

div#stats_page div.subsection {
    background-color: #EFEADC;
    margin-bottom: 6px;
    padding: 4px;
    padding-bottom: 8px;
}

div#stats_page div#stats p {
    margin-bottom: 10px;
}

div#stats_page div#stats div.stat_row {
    width: 700px;
    margin-bottom: 2px;
}

div#stats_page div#stats div.label {
    float: left;
    width: 50%;
}

div#stats_page div#stats div.stat {
    float: left;
    width: 50%;
}

/* End Stats Page */