<div id="filter_param_box">
  <% form_tag :controller => "projects", :action => "filter_by_param" do %>
    Order projects by:
    <%= select_tag :filter_param, options_for_select(@filter_params, [params['filter_param'] || "% funds reserved"]), :onchange => "this.form.submit();" %>
  <% end %>
</div>