<!-- IC Footer Ad Banner -->
<div id="footer_ad_banner">
  <% if @is_home_page %>
    <script type="text/javascript">
      adsonar_placementId=1510132;adsonar_pid=2214767;adsonar_ps=-1;adsonar_zw=880;
      adsonar_zh=100;adsonar_jv='ads.adsonar.com';
    </script>
    <script language="JavaScript" src="http://js.adsonar.com/js/adsonar.js"></script>
  <% else %>
    <script type="text/javascript">
      adsonar_placementId=1510135;adsonar_pid=2214767;adsonar_ps=-1;
      adsonar_zw=880;adsonar_zh=100;adsonar_jv='ads.adsonar.com';
    </script>
    <script language="JavaScript" src="http://js.adsonar.com/js/adsonar.js"></script>
  <% end %>
</div>