<div id="footer">
  <ul>
    <li><a href="/">Contact Us</a></li>
    <li><a href="/">About Us</a></li>
    <li><a href="/">FAQ</a></li>
    <li><a href="/">Privacy</a></li>
  </ul>
  <br>
  <ul>
    <li>Copyright &copy; 2007-2008</li>
    <li>Kinooga Technology</li>
    <li>All rights reserved</li>
    <li>Patent pending</li>
    <li>Alpha Version first appeared on web April 2006</li>
  </ul>
</div><!--/FOOTER-->