<div id="footer">
  <ul>
    <li><a href="/contact_us">CONTACT US</a></li>
    <li><a href="/about_us">ABOUT US</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/privacy">PRIVACY</a></li>
  </ul>
  <br />
  <ul style="font-size:130%;">
    <li>PMF Technology</li>
  </ul>

  <div class="mk-link">
    <%= link_to image_tag("mk_banner.jpg"), "http://www.maxkeiser.com", :target => "_blank" %>
  </div>

</div><!--CLOSE FOOTER-->