<div id="footer">
  <ul>
    <li><a href="/contact_us">CONTACT US</a></li>
    <li><a href="/about_us">ABOUT US</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="#">PRIVACY</a></li>
  </ul>
  <br />
  <ul style="font-size:130%;">
    <li>Copyright &copy; 2006-2008</li>
    <li>PMF Technology</li>
    <li>All rights reserved</li>
    <li><a href="http://www.freshpatents.com/Method-and-system-for-finance-distribution-and-speculation-dt20070809ptan20070185794.php?type=description" target="_blank" style="margin: 0px;">Patent pending</a></li>
  </ul>					
</div><!--CLOSE FOOTER-->