<div id="footer">
  <ul>
    <li><a href="/pages/contact_us">CONTACT US</a></li>
    <li><a href="/pages/about_us">ABOUT US</a></li>
    <li><a href="/pages/how_it_works">HOW IT WORKS</a></li>
    <li><a href="http://lovdbyless.com/" target="_blank">This Site Uses <i>LovdByLess</i></a></li>
  </ul>
</div>