<div id="footer">
  <ul>
    <li><a href="/pages/contact_us">CONTACT US</a></li>
    <li><a href="/pages/about_us">ABOUT US</a></li>
    <li><a href="/pages/faq">FAQ</a></li>
    <li><a href="/pages/privacy">PRIVACY</a></li>
    <li><a href="/pages/how_it_works">HOW IT WORKS</a></li>
    <li><a href="http://lovdbyless.com/" target="_blank">This Site Uses <i>LovdByLess</i></a></li>
  </ul>
  <br />
  <ul style="font-size:130%;">
    <li>PMF Technology</li>
  </ul>

  <div class="mk-link">
    <%= link_to image_tag("mk_banner.jpg"), "http://www.maxkeiser.com", :target => "_blank" %>
  </div>

</div><!--CLOSE FOOTER-->