<div id="header_links">
  <div id="social_links">
    <div class="twitter-link">
      <%= link_to image_tag("twitter.gif", :size => "35x30"),
        "http://www.twitter.com/piratemyfilm",
        :target => "_blank" %>
    </div>

    <div class="fb-link">
      <%= link_to image_tag("facebook-logo.png", :size => "30x30"),
        "http://www.facebook.com/pages/PirateMyFilm/75309097341",
        :target => "_blank" %>
    </div>

    <div id="widget_link">
      <%= link_to "Get a PirateMyfilm Widget For Your Site!", :controller => "project_widgets" %>
    </div>
  </div>

  <%= render :partial => "shared/login_box" %>

  <!--ul>
    <li>
      <span class="menu_r">
        <a href="/pages/how_it_works">
          <span class="menu_ar">
            How It Works
          </span>
        </a>
      </span>
    </li>
    <li>
      <span class="menu_r">
        <a href="/pages/about_us">
          <span class="menu_ar">
            About Us
          </span>
        </a>
      </span>
    </li>
    <li>
      <span class="menu_r">
        <a href="/pages/contact_us">
          <span class="menu_ar">
            Contact Us
          </span>
        </a>
      </span>
    </li>
    <li>
      <span class="menu_r">
        <a href="/">
          <span class="menu_ar">
            Home
          </span>
        </a>
      </span>
    </li>
  </ul-->

</div>