<%= link_to(image_tag('pirate-my-film-finance-your-self.png', :class=>'logo'), home_path) %>

<% if !@u.nil? && !@u.new_record? %>

  <div id="usernav">

    <p>CHOOSE A PROJECT<br />TO&nbsp;PREBUY</p>

    <ul class="usernavmenu">
      <li><a href="#"><span>My</span>PreBuys</a></li>
      <li><a href="#"><span>My</span>Portfolio</a></li>
      <li><a href="#"><span>My</span>Transactions</a></li>
      <li><a href="#">Account</a></li>
    </ul>

    <div class="clearfloat"></div>

  </div><!--/usernav-->

  <div id="flashes">
    <%= show_default_flash -%>
  </div>

<% end %>