<div id="header_links">

  <a href="/projects/new">
    <div id="new_project_button" class="local-navbar-button">
      <span>List a Project
        <span>Start Raising Money</span>
      </span>
    </div>
  </a>

  <div id="widget_link">
      <%= link_to "Get a PirateMyfilm Widget For Your Site!", project_widgets_path %>
  </div>
  
  <div id="site_stats_link">
    <a href="/pages/stats">Site Stats</a>
  </div>

  <%= render :partial => "shared/login_box" %>

</div>