<div id="header_links">

  <a href="/projects/new">
    <div id="new_project_button" class="local-navbar-button">
      <span>Need Money
        <span>List A Project</span>
      </span>
    </div>
  </a>

  <%= render :partial => "shared/login_box" %>

</div>