<div id="MENU_HEADER" class="pageTitle">
</div>

<div id="ning_link">
  <a href="http://piratemyfilm.ning.com" target="_blank">Join Our Discussions</a>
</div>

<%= link_to "All Max Blogs", {:controller => "blogs", :action => "homepage"}, :class => "subnav_inactive" %> |
<%= link_to "All Producer Blogs", {:controller => "blogs", :action => "producer"}, :class => "subnav_inactive" %>

<div style="clear:both;"></div><hr/>

<div class="project_listings">

  <h3>Popular Projects</h3>

  <p>
    <% form_tag :controller => "projects", :action => "filter_by_param" do %>
      <%= select_tag :filter_param, options_for_select(@filter_params, "Order Projects By..."), :onchange => "this.form.submit();" %>
    <% end %>
  </p>

  <% for @project in @projects do %>
      <%= render :partial => "project", :locals => {:project => @project} %>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>