<div class="project_listings">

  <p>
    <% form_tag :controller => "projects", :action => "filter_by_param" do %>
      <%= select_tag :filter_param, options_for_select(@filter_params, "Order Projects By..."), :onchange => "this.form.submit();" %>
    <% end %>
  </p>

  <div id="MENU_HEADER" class="pageTitle">
    Popular Projects
  </div>

  <div style="clear:both;"></div><hr/>

  <div id="sub_nav">
    <%= link_to "All Max Blogs", {:controller => "blogs", :action => "homepage"}, :class => "subnav_inactive" %> |
    <%= link_to "All Producer Blogs", {:controller => "blogs", :action => "producer"}, :class => "subnav_inactive" %>
  </div>
  
  <div style="clear:both;"></div>

  <% for @project in @projects do %>
      <%= render :partial => "projects/project", :locals => {:project => @project} %>
    <% end %>
  </div>

  <div class="pmf_clear">&nbsp;</div>