<div class="duobox" style="margin:20px 0 0 0; padding:0;width:100%;background:#ccc;height:100%;">
  <div style="width:49%;float:left;margin-right:10px;">
    <div class="vanillabox">

      <h2>VIDEOS BEING WATCHED RIGHT NOW !</h2>

      <ul class="watchnow">
        <li><a href="#"><img src="images/usercontent-icon-small.png" border="0" alt="user content" /></a></li>
        <li><a href="#"><img src="images/usercontent-icon-small.png" border="0" alt="user content" /></a></li>
        <li><a href="#"><img src="images/usercontent-icon-small.png" border="0" alt="user content" /></a></li>
      </ul>

    </div><!--/Close vanillabox-->
  </div><!--/Close style-->

  <div style="width:49%;float:left;">
    <div class="piratebox">

      <h2>VIDEOS BEING PIRATED RIGHT NOW !</h2>

      <ul class="watchnow">
        <li><a href="#"><img src="images/usercontent-icon-small.png" border="0" alt="user content" /></a></li>
        <li><a href="#"><img src="images/usercontent-icon-small.png" border="0" alt="user content" /></a></li>
        <li><a href="#"><img src="images/usercontent-icon-small.png" border="0" alt="user content" /></a></li>
      </ul>

    </div><!--/Close piratebox-->
  </div><!--/Close style-->
</div><!--/Close duobox-->

<div class="contentbox">
  <div id="blog_title">PMF Blog</div>
  <div id="blog_posts">
    <% @homepage_blogs.each do |blog| %>
      <div class="post">
        <div class="post_title">
          <%= blog.title %>
        </div>
        <div class="post_body">
          <%= blog.title %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="blog_links">
    <% if @p && @p.user.is_admin %>
      <%= link_to 'Write a new post', new_profile_blog_path(@p) %>
    <% end %>
  </div>
</div><!--/Close piratebox-->

<!--div class="vanillabox featured-project" style="margin-top:28px;">
  <h2>FEATURED PROJECT</h2>
  <a href="#"><img src="images/usercontent-icon-large.png" alt="User content" border="0" style="float:left;" /></a>

  <div class="featured-project-text">
    <h3><a href="#">A title to a film</a></h3>
    <span>Ann Producerski</span>
    <p>A short tale of simple folk who live in a forest and still cannot see the wood for the trees.</p>


    <div id="slidetabsmenu">
      <ul>
        <li><a href="#" title="Prebuy"><span>PREBUY</span></a></li>
      </ul>
    </div>

    <div id="slidetabsmenu-black">
      <ul>
        <li><a href="#" title="Pirate"><span>PIRATE</span></a></li>
      </ul>
    </div>

    <br /><br />

    <div class="whitebox">
      <img src="images/up.png" alt="Up" />

      <div class="whiteboxcell">
        <div class="whiteboxcelltitle">FUNDED</div>
        <p>27%</p>

      </div>

      <div class="whiteboxcell">
        <div class="whiteboxcelltitle">VESTED</div>
        <p>$15,000.00</p>

      </div>

    </div><!--/Close whitebox-->

</div><!--/Close style-->
<div class="clearfloat"></div>




</div--><!--/Close vanillabox-->