<div class="project_listings">

  <div class="pmf_clear">&nbsp;</div>
    <% for @project in @projects do %>
      <%= render :partial => "projects/project", :locals => {:project => @project} %>
    <% end %>

    <% if total_pages(@projects) > 1 %>
      <div class="button right pmf_top_margin_10">
        <%= link_to "More", :controller => "projects", :page => 2 %>
      </div>
    <% end %>
  </div>
  
  <div class="pmf_clear">&nbsp;</div>