<h1>Welcome to PirateMyFilm</h1>
<hr>    

<h2>Latest Project Listings</h2>

<table class="listing">
  
  <tr>
    <th>Project Title</th>
    <th class="icon">User/Studio</th>
    <th>Stats</th>
    <th>Description</th>
  </tr>
  
  <%= render :partial => "projects/project_tr", :collection => @recent_projects %>
      
</table>

<%= link_to "List a Project", new_project_path, :class => "right"%>

