<div class="project_listings">
  <% for @project in listings do %>
      <%= render :partial => "/admin/projects/project", :locals => {:project => @project} %>
    <% end %>
  </div>
  <div class="pmf_clear">&nbsp;</div>