<div class="project_listings">
  <% if listings.size == 0 %>
    <p>No Projects Found!</p>
    <div class="dashed_light_border">&nbsp;</div>
  <% end %>

  <% for @project in listings do %>
      <%= render :partial => "/projects/project", :locals => {:project => @project} %>
    <% end %>
</div>
<div class="pmf_clear">&nbsp;</div>