<% if logged_in %>
  <h3>Your Shares:</h3>
  <% if allowed_reserve_shares %>
    <ul>
      <li>You have <%= @my_subscription.nil? ? "no" : @my_subscription.amount %> shares reserved for this project.</li>
      <% if @max_subscription_reached %>
        <li><b>Your share limit for this project has been reached. You will soon be able to upgrade your subscription.</b></li>
      <% elsif @max_project_subscription_reached %>
        <li><b>You cannot reserve shares for any more projects. You will soon be able to upgrade your subscription.</b></li>
      <% else %>
        <% unless @max_subscription == -1 %>
          <li>You can reserve up to <%= @max_subscription < @project.downloads_available ? @max_subscription : @project.downloads_available %> shares.</li>
        <% else %>
          <li>You can reserve unlimited shares.</li>
        <% end %>
      <% end %>
    </ul>
    <% if !@max_subscription_reached && !@max_project_subscription_reached %>
      <form method="post" action="<%= project_project_subscriptions_path(@project)-%>" class="left">
        <input type="submit" value="Reserve Share"/>
      </form>
    <% end %>

    <% if @my_subscription %>
      <% form_tag project_project_subscription_path(@project, @my_subscription), :method => :delete, :class => "left" do %>
        <input type="submit" value="Cancel Share"/>
      <% end %>
    <% end %>
  <% else %>
    <ul><li><b>As the owner of this project, you cannot reserve shares!</b></li></ul>
  <% end %>
<% end %>