<h3>
  You have <%= @my_subscription.nil? ? "no" : @my_subscription.amount %> premium copies reserved for this project.<br>
  <% if @max_subscription_reached %>
    Your Premium Copy limit for this project has been reached. You will soon be able to upgrade your subscription!
  <% elsif @max_project_subscription_reached %>
    You cannot reserve Premium Copies for any more projects. You will soon be able to upgrade your subscription!
  <% else %>
    <% if @project.downloads_available > 0 %>
      <% unless @max_subscription == -1 %>
        You can reserve up to <%= @max_subscription < @project.downloads_available ? @max_subscription : @project.downloads_available %> premium copies.
      <% else %>
        You can reserve unlimited premium copies.
      <% end %>
    <% else %>
      There are no premium copies of this project available for download
    <% end %>
  <% end %>
</h3>

<% if !@max_subscription_reached && !@max_project_subscription_reached %>
  <% if @project.downloads_available > 0 %>
    <form method="post" action="<%= project_project_subscriptions_path(@project)-%>" class="left">
      <input type="submit" value="Reserve Premium Copy"/>
    </form>
  <% end %>
<% end %>

<% if @my_subscription %>
  <% form_tag project_project_subscription_path(@project, @my_subscription), :method => :delete, :class => "left" do %>
    <input type="submit" value="Cancel Premium Copy"/>
  <% end %>
<% end %>