<div id="project_blogs">
  <div class="pageTitle">
    Blogs for <%= link_to h(@project.title), project_path(@project) %>
  </div>

  <div class="pmf_clear">&nbsp;</div>

  <%= render :partial => "/blogs/member_blog_update_form", :locals => {:project => @project} unless !@u %>

  <% if @blogs.empty? %>
    <div class="pageTitleSmaller">
      No Updates Found!
    </div>
    <div class="pmf_clear">&nbsp;</div>
  <% end %>

  <% @blogs.each do |blog| %>
    <%= render :partial => "/blogs/templates/project_blog",
      :locals => {:blog => blog, :truncate_blog => true,
      :link_blog_header => true } %>
  <% end %>

  <%= pagination_controls_for @blogs if @blogs.respond_to? :total_pages %>

  <div class="pmf_clear">&nbsp;</div>

</div>