<div id="MENU_HEADER" class="pageTitle">
  Blogs for Project: <%= @project.title %>
</div>

<div style="clear:both;"></div><hr/>

<div id="sub_nav">
  <%= link_to "Back to Project", project_path(@project_id) %>
</div>

<%= render :partial => '/blog_partials/blog', :collection => @project_blogs %>
