<div id="project_blogs">
  <div class="right">
    <%= link_to "Back to Project", project_path(@project_id), :class => "subnav_inactive" %>
    <% if @u && (@project.owner == @u || @u.is_admin) %>
      - <%= link_to "Add a new blog entry", {:controller => :blogs, :action => :new, :project_id => @project.id}, :class => "subnav_inactive" %>
    <% end %>
  </div>

  <div id="MENU_HEADER" class="pageTitle">
    Blogs for Project:
  </div>

  <h3><%= @project.title %></h3>

  <div class="pmf_clear">&nbsp;</div>

  <% if @project_blogs.blank? %>
    No Blogs Found!
  <% else %>
    <%= render :partial => 'blogs/blog', :collection => @project_blogs %>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

</div>