<div id="project_blogs">
  <div class="right">
    <%= link_to "Back to Project", project_path(@project_id), :class => "subnav_inactive" %>
    <% if @u && (@project.owner == @u || @u.is_admin) %>
      - <%= link_to "Add a new blog entry", {:controller => :blogs, :action => :new, :project_id => @project.id}, :class => "subnav_inactive" %>
    <% end %>
  </div>

  <div class="pageTitle">
    Blogs for Project:
  </div>

  <div class="pageTitleSmall"><%= @project.title %></div>

  <div class="pmf_clear">&nbsp;</div>

  <% if @project_blogs.blank? %>
    No Blogs Found!
  <% else %>
  <%= render :partial => '/blogs/blogs', :locals => {:blogs => @project_blogs} %>
  <% end %>

  <div class="pmf_clear">&nbsp;</div>

</div>