<div class="banner">
  <h3>Project Created</h3>
</div>

<p>
  Congratulations! Your project has been submitted to PMF for review and will appear on the site very shortly!
</p>

<p>
  Stay tuned!
</p>

<p>
  <%= link_to "Home", home_path %>
</p>