<div class="banner">
  Congratulations! Your project has been submitted to PMF for review and will appear on the site very shortly!
</div>

<p>
  Stay tuned!
</p>

<p>
  <%= link_to "Home", home_path %>
</p>