<div class="pageTitle">
  Congratulations! Your project has been submitted to PMF for review
</div>

<div class="pmf_clear">&nbsp;</div>

<div class="pageTitle">
  It will appear on the site very shortly!
</div>

<p>
  Stay tuned!
</p>

<p>
  <%= link_to "Home", home_path %>
</p>