<div class="pageTitle">Edit Project</div>

<div class="pmf_clear">&nbsp;</div>

<div id="sub_nav">
  <%= link_to "Back to Project", {:controller => "projects", :action => "show", :id => @project.id}, :class => "subnav_inactive" %>
</div>

<% form_for @project, edit_project_path, :html=>{:multipart=>true} do |f| %>
  <%= render :partial => "projects/form", :locals => {:project => @project, :new_listing => true, :f => f } %>

  <% if owner_or_admin? %>
    <%= delete_project_link @project %>
  <% end %>

  <div class="pmf_clear_20">&nbsp;</div>

<% end %>