<div class="pageTitle">Edit Project</div>
<hr>

<% form_for @project, edit_project_path, :html=>{:multipart=>true} do |f| %>

  <%= render :partial => "projects/form", :locals => {:project => @project, :f => f } %>

<% end %>