<div class="pageTitle">Edit Project</div>
<hr>

<% form_for @project, edit_project_path do |f| %>   

  <%= render :partial => "projects/form", :locals => {:project => @project, :f => f } %>

<% end %>

<%= render :partial => "projects/icon_upload", :locals => {:project => @project } %>