<% form_for @project, projects_path, :html=>{:multipart=>true} do |f| %>  
  <div class="pageTitle">New Project</div>

  <%= render :partial => "projects/form",
    :locals => {:project => @project, :f => f, :include_captcha => true} %>

<% end %>