<% form_for @project, projects_path, :html=>{:multipart=>true} do |f| %>  
  <div class="pageTitle">Need PirateFunds? List your project and start raising money immediately!</div>

  <%= render :partial => "projects/form",
    :locals => {:project => @project, :new_listing => true, :f => f, :include_captcha => true} %>

<% end %>