<% form_for @project, projects_path, :html=>{:multipart=>true} do |f| %>  
  <div class="banner">
    <h3>List a Project</h3>
  </div>

  <%= render :partial => "projects/form", :locals => {:project => @project, :f => f } %>

<% end %>