<strong>About PirateMyFilm</strong>

<p>
  Pirate Myfilm is pioneering, patent-pending platform for
  user-financed content created by Max Keiser
</p>

<h1>The Kinooga Team</h1>

<strong>Max Keiser - CEO, founder</strong>

<p>
  Max Keiser is the former CEO and co-founder HSX Holdings/Hollywood Stock Exchange,
  and the inventor of the Virtual Specialist technology: the first and only
  patented prediction and virtual market technology. He is is also the founder
  of KarmaBanque and the Gulag Wealth Fund
</p>

<strong>Stacy Herbert - Co-founder</strong>

<p>
  Content Editor
</p>

<strong>Marc Hankin - co-founder, General Counsel</strong>

<p>
  Partner, Hankin Assoc. Los Angeles Ca.
</p>

<strong>Matthew Lederman co-founder</strong>

<p>
  Technology advisor and software developer
</p>

<strong>Lee Farrell - Software Developer</strong>

<p>
  Lee Farrell is a software developer who built the site. He has a BSC in
  software engineering from Dublin City University and has been developing in
  Java and Rails applications since 2001
</p>

<strong>Peter Devine - Creative Director</strong>

<p>
  Studied at the London College of Printing and Central St Martins in Communication
  Design. Awarded 'Best Graphics' by the British Multimedia Association in 1995
  and 'Best Show' at the Young Designer of the Year show in London in 1999.
  Freelanced for FilmCasino, The Labour Party's 1997 online campaign and worked
  for Philips, BBC and The Knowledge Media Institute. Champions the use of DIY
  finance/politics/art.
</p>

<strong>John Roddison - Financial Advisor</strong>

<p>
  Partner at Brown & McCleod, Ltd.
</p>