<strong>About Kinooga</strong>

<p>
  Kinooga is pioneering platform for user-financed content, 
  financing film projects through the Preselling downloads to the consumer. 
  Using Kinooga's innovative Allied Auction technology, producers also have 
  the ability to offer fractional copyright ownership to their users to raise 
  funding for their projects. Kinooga monetizes the buzz created when a film 
  is announced and incentivises the downloader to participate not just as a 
  consumer, but as an exhibitor, a distributor and marketer of the 
  films they can fractionally own.
</p>

<h1>The Kinooga Team</h1>

<strong>Max Keiser - Cofounder &amp; CEO</strong>

<p>
  Max Keiser former stock broker and options trading specialist is the 
  co-founder Hollywood Stock Exchange, and inventor of the Virtual Specialist 
  technology: the first and only patented prediction/virtual market technology. 
  He is is also the founder of KarmaBanque a site that allows activists to monetize 
  their dissent and push back against global corporate occupation. Max is an 
  international opinion maker whose work appears across all media, and is 
  regular presenter for international television broadcaster Al Jazeera English. 
  Max also writes and produces the weekly radio show, 'The Truth About Markets', 
  for Resonance FM in London. His financial 
  and market opinion pieces have also appeared in various publications, from the 
  Ecologist Magazine to the Globe and Mail's Corporate Knights.
</p>

<strong>Matthew Lederman - Cofounder &amp; Technological Director</strong>

<p>
  Matthew Lederman is a technologist and innovator. He is one of the creators 
  of the Rogue Market and he has a patent on advertiser-supported 
  switched telephone service.
</p>

<strong>Peter Devine - Creative Director</strong>

<p>
  Studied at the London College of Printing and Central St Martins in 
  Communication Design. Awarded 'Best Graphics' by the British Multimedia 
  Association in 1995 and 'Best Show' at the Young Designer of the Year show in 
  London in 1999. Freelanced for FilmCasino, The Labour Party's 1997 online 
  campaign and worked for Philips, BBC and The Knowledge Media Institute. 
  Champions the use of DIY finance/politics/art.
</p>

<strong>John Roddison - Financial Advisor</strong>

<p>John Roddison is an accountant with Brown &amp; McCleod.</p>

<strong>Marc Hankin - General Counsel</strong>

<p>Marc Hankin patent attorney in Los Angeles, California.</p>

<strong>Lee Farrell - Software Developer</strong>

<p>
  Lee Farrell is a software developer who built the site. He has a BSC in software 
  engineering from Dublin City University and has been developing in Java and Rails 
  applications since 2001.
</p>