<div id="about_us" class="static_content">
  <strong>About PirateMyFilm</strong>

  <p>
    Pirate Myfilm is a pioneering platform for
    user-financed content created by Max Keiser
  </p>

  <strong>Max Keiser - CEO, founder</strong>

  <p>
    Max Keiser is the former CEO and co-founder HSX Holdings/Hollywood Stock Exchange.
    He is the inventor of the Virtual Specialist technology, the first and only
    patented Continuous Double Auction (CDA) technology.
    Max Keiser is a world renowned expert in finance and markets whose views
    and opinions are featured on RT's, "Keiser Report" and Press TV's, "On The Edge with Max Keiser."
  </p>

  <strong>Peter Devine</strong>

  <p>
    Graphic Designer
  </p>

  <strong>Lee Farrell - Software Developer</strong>

  <p>
    Lee Farrell is a software developer who built the site. He has a BSC in
    software engineering from Dublin City University and has been developing in
    Java and Rails applications since 2001
  </p>

  <strong>John Roddison - Financial Advisor</strong>

  <p>
    Partner at Brown & McCleod, Ltd.
  </p>
</div>