<div id="about_us" class="static_content">
  <div class="pageTitle">About PirateMyFilm</div>

  <p>
    Pirate Myfilm is a pioneering platform for crowdfunding media created by Max Keiser. 
    It was the first crowdfunding site on the web when it appeared in 2003 as Specfilms. 
    The name was subsequently changed to PirateMyfilm.
  </p>

  <strong>Max Keiser - CEO, founder</strong>

  <p>
    Max Keiser is the former CEO and co-founder HSX Holdings/Hollywood Stock Exchange. 
    He is the inventor of the Virtual Specialist technology and creator of the Hollywood Stock Exchange. 
    Max Keiser is a world renowned expert in finance and markets who presents two shows for international TV broadcasters, 
    "Keiser Report" on RT and "On The Edge with Max Keiser" on Press TV as well as making innumerable appearances 
    as a finance and markets expert on BBC, Channel 4 (UK), 
    Al Jazeera English, France 24, RT, Press TV and the Alex Jones show.
  </p>

  <strong>Lee Farrell - Software Developer</strong>

  <p>
    Lee Farrell is a software developer who built the site. He has a BSC in
    software engineering from Dublin City University and has been developing in
    Java and Rails applications since 2001
  </p>

  <strong>Peter Devine</strong>

  <p>
    Graphic Designer
  </p>

  <strong>John Roddison - Financial Advisor</strong>

  <p>
    Partner at Brown & McCleod, Ltd.
  </p>
</div>