<p>The best way to contact PirateMyFilm is via email.</p>

<ul>
  <li>Users requiring technical support or other assistance should contact <a href="mailto:support@piratemyfilm.com">support@piratemyfilm.com</a></li>
  <li>For corporate matters like sponsorship, licensing and joint ventures contact <a href="mailto:corporate@piratemyfilm.com">corporate@piratemyfilm.com</a>.</li>
  <li>Any communication that does not fit into one of the above should be directed to <a href="mailto:info@piratemyfilm.com">info@piratemyfilm.com</a>.</li>
</ul>