<strong>Electronic</strong>

<p>The best way to contact Kinooga is via email.</p>

<ul>
  <li>Users requiring technical support or other assistance should contact <a href="mailto:support@kinooga.com">support@kinooga.com</a></li>
  <li>For corporate matters like sponsorship, licensing and joint ventures contact <a href="mailto:corporate@kinooga.com">corporate@kinooga.com</a>.</li>
  <li>Any communication that does not fit into one of the above should be directed to <a href="mailto:info@kinooga.com">info@kinooga.com</a>.</li>
  <li>Kinooga also maintains a presence in London, Paris, New&nbsp;York, &amp; Los&nbsp;Angeles.</li>
</ul>