<strong>GENERAL</strong><br>

<div class="faq-index">
  <p>
  <a href="#general01" name="top">What is Kinooga?</a><br/>
  <a href="#general02">Who's behind this?</a><br/>
  <a href="#general03">Is this a stock market?</a><br/>
  <a href="#general04">I don't understand some of the language used here. What can I do?</a><br/>
  
  <a href="#general05">I have a suggestion for making the site work better, who do I talk to?</a><br/>
  <a href="#general06">How do I contact Kinooga?</a><br/>
  </p>
</div>

<strong>PRESELLING</strong>

<div class="faq-index">
  <p>
    <a href="#presell01">Who is a PreSeller?</a><br/>
    <a href="#presell02">What is PreSelling?</a><br/>
    
    <a href="#presell03">What am I PreSelling?</a><br/>
    <a href="#presell04">What is a coupon?</a><br/>
    <a href="#presell05">Do I always own my content?</a><br/>
    <a href="#presell06">How are downloads distributed?</a><br/>
    <a href="#presell07">How is the funding distributed?/How do I get the money when my film is fully funded?</a><br/>
    <a href="#presell08">What are the costs?</a><br/>
    <a href="#presell09">I don't like some aspects of my project listing. Can I change them?</a><br/>
    <a href="#presell10">The project I listed has low ratings. What can I do?</a><br/>
    <a href="#presell11">I don't like how Kinooga rated my project and/or what they said about my project. What can I do?</a><br/>
    
    <a href="#presell12">I don't like what users have said about my project and/or my User Rating. What can I do?</a><br/>
    <a href="#presell13">Can I have my videoblog/vlog/video podcast funded on Kinooga?</a><br/>
    <a href="#presell14">Can I have my TV show funded on Kinooga?</a><br/>
    <a href="#presell15">Can I have my short film funded on Kinooga?</a><br/>
    <a href="#presell16">Can I have my animated film funded on Kinooga?</a><br/>
    <a href="#presell17">I'm not in the US, is this a problem?</a><br/>
    <a href="#presell18">There's a lot of financial jargon here. Do I really have to deal with all of that?</a><br/>
    <a href="#presell19">What about copyright issues?</a><br/>
    <a href="#presell20">I already have a distribution deal (TV, theatrical, etc.), but I don't have funding for production. Can I have my project funded on Kinooga?</a><br/>
    
    <a href="#presell21">What happens if another party talks to me about funding a project I've already listed on Kinooga?</a><br/>
    <a href="#presell0122">What happens if another party talks to me about distribution deals or anything else that associated with my film project that will make money?</a><br/>
    <a href="#presell23">I have a film project that I want to be distributed via other mediums before it is downloaded. Can I still fund my project through Kinooga?</a><br/>
    <a href="#presell24">I'm still confused. What do I do now?</a><br/>
  </p>
</div>

<strong>PREBUYING</strong>

<div class="faq-index">
  <a href="#prebuy01">What is PreBuying?</a><br/>
  <a href="#prebuy02">How much is a download?</a><br/>
  
  <a href="#prebuy03">How many downloads can I buy?</a><br/>
  <a href="#prebuy04">What if I want to buy more than 10 downloads?</a><br/>
  <a href="#prebuy05">When and how do I have to pay for my PreBuys?</a><br/>
  <a href="#prebuy06">I want to make money. How do I do that?</a><br/>
  <a href="#prebuy07">What are the risks involved with trying to make money on Kinooga?</a><br/>
  <a href="#prebuy08">A PreSeller has changed his project details, and I don't like it. What do I do?</a><br/>
  <a href="#prebuy09">I'm not in the US, is this a problem?</a><br/>
  <a href="#prebuy10">I'm still confused. What do I do now?</a><br/>
</div>

<strong>NUMBERS, STATS, RATINGS</strong>

<div class="faq-index"><p>Not available at present.</p></div>

<strong>COUPON OFFERINGS</strong>
<div class="faq-index"><p>Not available at present.</p></div>




<strong>GENERAL</strong><br>

<div class="faq-reply">
  <a name="general01">Q: What is Kinooga?</a>
  
  <p>A: Kinooga puts filmmakers in touch with people who would like to finance film projects, adding the additional option for filmmakers to share revenues via fractional ownership rights. In other words, Kinooga is a new kind of media marketplace where film projects are jointly financed and can be jointly owned by Kinooga members.</p>
</div>

<div class="faq-reply">
  <a name="general02">Q: Who's behind this?</a>
  
  <p>A: Kinooga is the brainchild of Max Keiser, former Wall Street stock broker and the brains behind HSX: The Hollywood Stock Exchange. Max has partnered up with a diverse team of individuals who want to "open source" the film funding process, allowing everyone to share the creative and financial wealth created. For more information on the team at Kinooga, take a look at our <a href="http://kinooga.com/id_09_1.php?option=about">'About Us'</a> page.</p>
  
</div>

<div class="faq-reply">
  <a name="general03">Q: Is this a stock market?</a>
  
  <p>A: No. While we do say that Kinooga is a film futures market, Kinooga is not a stock market. Using our patent-pending Allied Auction TechnologyÂ¨, the basic transaction at Kinooga is the PreBuying of a download for a proposed film project. Think of it like buying a ticket for a movie before it is produced, allowing a producer to use that money to make the film. To sweeten the pot, a producer can offer partial ownership rights as well via a Coupon Offering (CO).</p>
</div>

<div class="faq-reply">
  <a name="general04">Q: I don't understand some of the language used here. What can I do?</a>
  
  <p>A: We understand that the language used here can be a bit heavy, as it uses terms and formulae that are oftentimes unfamiliar for people in the creative field. We are doing the best we can to make sure that all terms and concepts used on Kinooga are as understandable as possible, and are committed to answering any questions that users may have. Feel free to contact us (insert link) at any time.</p>
</div>

<div class="faq-reply">
  <a name="general05">Q: I have a suggestion for making the site work better, who do I talk to?</a>
  
  <p>A: Contact us: <a href="mailto:help@kinooga.com">help@kinooga.com</a>. We're always open to suggestions.</p>
</div>

<div class="faq-reply">
  <a name="general06">Q: How do I contact Kinooga?</a>
  
  <p>A: You can contact us <a href="/contact_us">here</a>.</p>
  
</div>

<div class="backtotop"><a href="#top">BACK TO TOP</a></div>

<strong>PRESELLING</strong>

<div class="faq-reply">
  <a name="presell01">Q: Who is a PreSeller?</a>
  
  <p>A: A PreSeller is anyone who lists a film project to be funded on Kinooga.</p>
</div>

<div class="faq-reply">
  
  <a name="presell02">Q: What is PreSelling?</a>
  
  <p>A: PreSelling on Kinooga is offering Downloads (for future delivery) , and/or Coupons that entitle PreBuyers to a percentage of a film project's revenues over a chosen period of time, in order to fund a film project. Downloads and/or Coupons are offered at US$10, and PreBuyers are currently limited to PreBuying a maximum of 10 downloads in any given project.</p>
</div>


<div class="faq-reply"><a name="presell03">Q: What am I PreSelling?</a>
  
  <p>A: A PreSeller on Kinooga is PreSelling future downloads of a completed film project. Think of it like selling a ticket for a movie before it is produced, allowing you, the Preseller, to use that money to make your film.  Once the film is fully funded (i.e. the number of ordered downloads is enough to fund the budget on the listing), PreBuyers will pay for their commited downloads and the money raised will be transferred to the PreSeller to finance the film project. Once the film is produced, the PreSeller must distribute their film project for download at a date (and in the case of series, in the sequence) of the producer's choosing.</p>
  
<p>A PreSeller also has the option of 'bundling' a Coupon Offering (CO) with the download that offers PreBuyers the opportunity to have a share of a film's revenues and copyright at a percentage and length of time dictated by the PreSeller. See the "Coupon Offering" section of the FAQ for full details.</p></div>

<div class="faq-reply"><a name="presell04">Q: What is a coupon?</a>
  
<p>A: See the answers in our "Download Coupon Offering" section of the FAQ.</p></div>


<div class="faq-reply"><a name="presell05">Q:Do I always own my content?</a>
  
<p>A: Yes. While a Coupon Offering (CO) does give PreBuyers fractional ownership of the copyright over a length of time dictated by the PreSeller, PreSellers will always have complete and total creative and administrative control of their intellectual property. Think of a coupon like someone having a non-voting share, or a silent partner, in your film.</p></div>


<div class="faq-reply"><a name="presell06">Q: How are downloads distributed?</a>
  
<p>A: We will be unveiling Kinooga's download platform very soon. Feel free to contact us <a href="mailto:help@kinooga.com">help@kinooga.com</a> if you have any questions.</p> </div>


<div class="faq-reply">
  <a name="presell07">Q: How is the funding distributed?/How do I get the money when my film is fully funded?</a>
  
<p>A: We will be unveiling Kinooga's funds transfer/transaction platform very soon. Feel free to contact us if you have any questions.</p></div>


<div class="faq-reply"><a name="presell08">Q: I don't like some aspects of my project listing. Can I change them?</a>
  
<p>A: You may change any details of your project's listing at any time. We advise that you keep in mind that you want to make your project as attractive to PreBuyers as possible., and that you keep in mind that PreBuyers can 'return' or 'order' PreBuys at any time, with no commitment, as we do not collect money until the listed project has been fully funded.</p></div>


<div class="faq-reply"><a name="presell09">Q:The project I listed has low ratings. What can I do?</a>
  
<p>A: Low ratings and low PreBuy levels are indicators that your listing may need to change in some way in order to generate a response from Kinooga's PreBuying community. Before you do anything, take a look at the amount of downloads for your project that have been ordered and how many have been returned. Ratings alone are not a good indicator of how well your project is doing.</p></div>


<div class="faq-reply"><a name="presell10">Q: I don't like how Kinooga rated my project and/or what they said about my project. What can I do?</a>
  
<p>A: If you have questions or concerns about your Kinooga Rating, please do not hesitate to <a href="mailto:help@kinooga.com">contact us.</a></p></div>


<div class="faq-reply"><a name="presell11">Q: I don't like what users have said about my project and/or my User Rating. What can I do?</a>
  
  <p>A: If you have questions or concerns about your project's User Rating, please do not hesitate to <a href="mailto:help@kinooga.com">contact us.</a>
</p></div>


<div class="faq-reply"><a name="presell12">Q: Can I have my videoblog/vlog/video podcast funded on Kinooga?</a>
  
<p>A: Absolutely. As long as there will be something to download at some point, any film project of any type or size can be listed on Kinooga. Videobloggers/Vloggers/Video Podcasters may want to consider offering a bundled package of videoblogs/vlogs/video podcasts as something to PreSell.</p></div>


<div class="faq-reply"><a name="presell13">Q: Can I have my TV show funded on Kinooga?</a>
  
<p>A: Absolutely. As long as there will be something to download at some point, any film project of any type or size can be listed on Kinooga. Television PreSellers may want to pay special attention to how they package their content in order to fund their projects as quickly and effortlessly as possble.</p></div>


<div class="faq-reply"><a name="presell14">Q: Can I have my short film funded on Kinooga?</a>
  
<p>A: Absolutely. As long as there will be something to download at some point, any film project of any type or size can be listed on Kinooga.</p></div>

<div class="faq-reply"><a name="presell15">Q: Can I have my animated film funded on Kinooga?</a>
  
<p>A: Absolutely. As long as there will be something to download at some point, any film project of any type or size can be listed on Kinooga.</p></div>


<div class="faq-reply"><a name="presell16">Q: I'm not in the US, is this a problem?</a>
  
<p>A: No. You can PreSell or PreBuy from anywhere in the world, as long as your local laws allow it. We suggest users to research their local laws before PreBuying or PreSelling. If you are looking to make money from a Download Coupon Offering, we strongly advise that you and/or your tax professional consider the tax implications involved with making money on Kinooga.  Please also be advised that all financial transactions will be done in US dollars, and we will not be responsible for currency fluctuations and/or costs associated with currency exchange.</p></div>


<div class="faq-reply"><a name="presell17">Q: There's a lot of financial jargon here. Do I really have to deal with all of that?</a>
  
<p>A: Yes and No. We've done our best to make every term and transaction on Kinooga as understandable as possible, but we understand that there may be some concepts and terms that are difficult to understand. Please <a href="mailto:help@kinooga.com">contact us.</a> if you have any trouble understanding things.</p></div>


<div class="faq-reply"><a name="presell18">Q: What about copyright issues?</a>
  
<p>A: We work within the copyright system by providing a new way to monetize copyright Ã? by embedding fractional copyright ownership within the purchase of digital media as part of the patent-pending Allied AuctionÂ¨ system. However, if a PreSeller does not want to share copyright, they do not have to.</p></div>


<div class="faq-reply"><a name="presell19">Q: I already have a distribution deal (TV, theatrical, etc.), but I don't have funding for production. Can I have my project funded on Kinooga?</a>
  
<p>A: Absolutely. In fact, coming to Kinooga already having a distribution deal may make your listing VERY attractive to PreBuyers, especially if you opt to share a percentage of revenues with PreSellers via a Download Coupon Offering (DCO).</p></div>


<div class="faq-reply"><a name="presell20">Q. I have a film project that I want to be distributed via other mediums before it is downloaded. Can I still fund my project through Kinooga?</a>
  
<p>A. Absolutely.We understand that there's a lot of reasons you wouldn't want your film downloaded immediately after the project is complete. PreSellers have final say on when a film project is distributed via download.</p></div>


<div class="faq-reply"><a name="presell21">Q. I'm still confused. What do I do now?</a>
  
  <p>A. Don't panic! <a href="mailto:help@kinooga.com">contact us.</a> and somebody will get in touch with you within a reasonable amount of time.</p>
  
</div>

<div class="backtotop"><a href="#top">BACK TO TOP</a></div>

<strong>PREBUYING</strong>

<div class="faq-reply">
  <a name="prebuy01">Q. What is PreBuying?</a>
  
  <p>?</p>
</div>

<div class="faq-reply">
  
  <a name="prebuy02">Q. How much is a download/coupon?</a>
  
  <p>A: Downloads are set at US$10 each. At this time, PreBuyers are limited to buying 10 downloads/coupons per project. We plan on introducing "Platinum" PreBuyer level in which the limit will be increased for a fee.</p>
</div>

<div class="faq-reply">
  <a name="prebuy03">Q: How many downloads can I buy?</a>
  
  <p>A. At this time, PreBuyers are limited to buying 10 downloads/coupons. We plan on introducing "Platinum" PreBuyer level in which the limit will be increased for a fee.</p>
</div>

<div class="faq-reply">
  <a name="prebuy04">Q: What if I want to buy more than 10 downloads/coupons?</a>
  
  <p>A. We plan on introducing "Platinum" PreBuyer level in which the limit will be increased for a fee.</p>
</div>

<div class="faq-reply">
  <a name="prebuy05">Q: What is a Coupon Offering (CO)?</a>
  
  <p>A: See the answers in our "Download Coupon Offering (DCO)" section of the FAQ.</p>
</div>

<div class="faq-reply">
  <a name="prebuy06">Q: When and how do I have to pay for my PreBought downloads?</a>
  
  <p>A. PreBuyers pay for their downloads when a project is fully funded. In other words, when enough PreBuyers have pledged to buy enough downloads/coupons to fully fund the film project. We will be launching our payment platform very soon. <a href="mailto:help@kinooga.com">E-mail us</a> if you have any questions.</p>
</div>

<div class="faq-reply">
  <a name="prebuy07">Q: Can I make money when PreBuying?  How does that happen?</a>
  
  <p>A: PreSellers can offer the opportunit.</p>
</div>

<div class="faq-reply">
  <a name="prebuy08">Q: What are the risks involved with PreBuying on Kinooga?</a>
  
  <p>A: At the very least you end up with a download - of a movie that you are not happy with... moving up the ladder of goodness; you end up with a movie you like... moving up again, you have a movie you like, and it sells like hot cakes to the GDP and your free coupons return oodles of moola.</p>
</div>

<div class="faq-reply">
  <a name="prebuy09">Q: A PreSeller has changed his project details, and I don't like it. What do I do?</a>
  
  <p>A: There's a lot of options here. PreBuyers can change their rating for a listed project, which affects a listed project's overall rating. Also, PreBuyers can "return" their PreBuys at any time before a listed project is fully funded. That's the beauty of our system. PreBuyers vote with their PreBuys!.</p>
</div>

<div class="faq-reply">
  <a name="prebuy10">Q: I'm not in the US, is this a problem?</a>
  
  <p>A: No. You can PreSell or PreBuy from anywhere in the world, as long as your local laws allow it. We suggest users to research their local laws before PreBuying or PreSelling. If you are looking to make money from a Download Coupon Offering, we also suggest that you and/or your tax professional consider the tax implications involved with making money on Kinooga.  Please also be advised that all financial transactions will be done in US dollars, and we will not be responsible for currency fluctuations and/or costs associated with currency exchange.</p>
</div>

<div class="faq-reply">
  <a name="prebuy11">Q. I'm still confused. What do I do now?</a>
  
  <p>A. Don't panic! <a href="mailto:help@kinooga.com">Contact us</a>, and somebody will get in touch with you within a reasonable amount of time.</p>
</div>

<div class="backtotop"><a href="#top">BACK TO TOP</a></div>