<div id="how_it_works" class="static_content">

  <div class="pageTitle">How PirateMyFilm Works</div>

  <div id="text">
    <p>
      Project owners list projects during any stage of development; specifying 
      the funds they need and various details including any dividends they are 
      offering to share buyers (if any) as well as information about future 
      downloads of the project. 
    </p>

    <p>
      The system automatically creates enough shares to meet the funds request 
      and then makes these shares available to PMF members for reservation. 
      All shares are priced at $5. If the demand for project's shares exceeds 
      the number of shares on offer, the system automatically raises the share 
      offer limit and the has the option of increasing the number of shares on 
      offer to members. 
    </p>

    <p class="pageTitleSmaller">
      Depending on membership level, members are restricted by:
    </p>

    <p>
      1. the number of projects they can list.<br/>
      2. the number of shares they can offer in each project they list.<br/>
      3. The number of other member's projects they can reserve shares in.<br/>
      4. The number of shares they can reserve in other member's projects.<br/>
    </p>

    <p class="pageTitleSmaller">
      Before an owner can begin to collect funds for a project: the PMF Fund 
      'green lights' the project based on the PMF Fund Index Score; a dynamic 
      index that reflects:
    </p>

    <p>
      1. Rating of the PMF Fund (the PMF Fund rates each project on a scale from C- to A+).<br/>
      2. Rating of the project by members.<br/>
      3. Rating of the talent attached to the project.<br/>
      4. Percentage of shares on offer that have been reserved. <br/>
    </p>

    <p class="pageTitleSmaller">
      Before a green light and a group debit occurs:
    </p>

    <p>
      1. Members may add or cancel share reservations in any project at any time (per membership restrictions).<br/>
      2. Owners may add or subtract the number of shares on offer in any of their projects.<br/>
      3. Owners may increase or decrease the dividends on offer (if any).<br/>
    </p>

    <p>
      After a project has been 'green lit' members receive an email from the 
      owner instructing them on how to pay for their shares * See <a href="#payment_desc">Below</a> For Details. 
    </p>

    <p>
      Once a project has been green lit,  owners cannot change any element of 
      the project on offer. Members can add or initiate share reservations but 
      they can’t cancel share orders.
    </p>

    <p>
      The PMF Fund guarantees to buy any shares unreserved after share orders, 
      including standby orders, have been filled. Standby orders are shares awaiting 
      validation when new or existing shares become available.
    </p>

    <p>
      The producer takes full responsibility for collecting funds, producing 
      projects, paying out any dividends to share holders (and/or the PMF Fund) 
      and providing download information for their projects to be pirated.
    </p>

    <p>
      Owners who fail to live up their responsibilities - or members who fail 
      to pay for their shares - can be voted out of the community and/or 
      forced to 'walk the plank'. 
    </p>

    <p class="pageTitleSmaller">
      Payment Procedure For Greenlit Projects:<a name="payment_desc">&nbsp;</a>
    </p>

    <p>
      1. The project reaches 100% funding.<br/>
      2. Given green light by admin.<br/>
      3. Producer clicks "Collect Funds", which opens a payment window in 
      which funds will be collected from users.<br/>
      4. The producer enters their paypal email address and a date in the 
      future when they will close this payment window.<br/>
      5. This payment window is now active.<br/>
      6. Our system creates a bunch of rows in a table for each payment that 
      is due to be processed for the project. It does this by looking at the 
      share queue. It will sum up all the non-outstanding shares for each user, 
      and will create a row in this table that represents the total amount of 
      shares they have purchased.<br/>
      7. Emails get sent to all the users who are to pay for their shares in this window.
      8. A user logs in and goes to the project page where they own the shares. 
      They now see a paypal button and a some information regarding what shares 
      they have, what are outstanding, and what they are about to pay for.<br/>
      9. The paypal button brings the user to the paypal site, to a page where 
      we pass the amount due to be paid. The user then goes through the standard 
      paypal payment process and the money goes to the project owners paypal 
      account (via the email address they entered when opening this payment window).<br/>
      10. A unique code is also passed to paypal that appears on the payment 
      receipt that the producer sees. This code is used by the producer in the next step.<br/>
      11. The producer logs into PMF and goes to the project page, where 
      they can see a list of users who are due to pay for shares in the current 
      window. It shows the username and the amount they are due to pay. It also 
      shows the unique code that was passed through to paypal earlier on. 
      The producer matches up the code in the receipt to this code, and then 
      clicks "Mark as Paid" for that user. The system updates the project funding 
      variables and the producer can then see how much money has actually been collected. 
      This process continues for all the users who are in this payment window.<br/>
      12. On the window close date, the project owner logs in and clicks "Close Window". 
      This then marks all unpaid shares as "defaulted", but maintains the value of 
      the amount that was collected in that window.<br/>
      13. The producer now clicks "Open window" again and another window is created. 
      This time the system looks down the queue to the users holding outstanding 
      shares and creates a payment row for each user until the window is full with 
      enough people to potentially reach the target funding and the paypal process 
      described above takes place again.<br/>
      14. If the payment window fails again, the producer opens another window 
      and the system looks down the queue like before.<br/>
      15. The producer has access to a page where they can see statistics on all 
      of the payment windows that were created and all the users who were involved 
      in each window.<br/>
      16. The above steps are repeated until either all funds have been collected, 
      or the queue has been exhausted.<br/>
      17. When the queue has been exhausted, the user can ask PMF to buy out the 
      remaining shares. This request will appear in a new section in the admin part 
      of the site, where the admin user can accept or deny to buy out the shares.<br/>
      18. When a window is open/closed or a payment has been verified by a producer, 
      an email is sent to the associated user.<br/>
    </p>

    <p>
      <b>Disclaimer:</b>
      PMF takes zero responsibility for funds collected, projects, and downloads 
      related to projects. Producers are not contractually obligated to make good 
      on funds, or to produce projects or make downloads available. Share buyers 
      assume 100% of the risk for funding.
    </p>

  </div>
</div>