<div id="how_it_works" class="static_content">
  <strong>How PirateMyFilm Works</strong>

  <p>
    Producers list projects; specifying budget requirements and other details.
    The system automatically creates enough shares to fund the project.
  </p>

  <p>
    All shares are priced at $5. Members reserve shares without committing funds.
    When 100% (or more) of available shares have been reserved and the project has
    been 'green lit' a group debit occurs and shares are allocated - first come,
    first serve - to members who become share holders. Share holders are entitled
    to a future download and any future ad revenue dividends offered by the producer.
  </p>

  <p>
    Members can cancel their share reservations at any time
    up until the group debit without penalty.
  </p>

  <p>
    The producer may increase or decrease the number of shares
    on offer at any time before the group debit.
  </p>

  <p>
    The producer may increase or decrease the percentage of ad revenue dividends
    (or fee they are taking) at any time before the group debit.
  </p>

  <p>
    The producer may increase or decrease the percentage of ad revenue dividends
    they are sharing with share holders at any time before the group debit.
  </p>

  <p>
    Any ad revenue dividends that a producer does not take or pass on to share
    holders go to the PMF Fund to be invested in other projects.
  </p>

  <p>
    Members (depending on membership level) are limited in the number of projects
    they can list; the number of projects they can reserve shares in, and the number
    of shares they can reserve in each project.
  </p>

  <p>
    The PMF Fund rates each project and only 'A' rated projects may qualify
    for a 'green light' and group debit.
  </p>

  <p>
    The PMF Fund reserves the right to reserve unlimited shares in any project.
  </p>

  <p>
    The PMF Fund invests in projects with the highest PMF member rating.
  </p>

</div>