<div id="how_it_works" class="static_content">

  <div class="pageTitle">How PirateMyFilm Works</div>

  <div id="text">

    <p>
      PMF shares currently do not offer dividends (but will after beta testing). 
      Share purchases are donations to a project in exchange for a credit.</br>
    </p>

    <p>
      <b>Note:</b> funds for share reservations are not collected until a project reaches 100% of its funding requirement
      and has been given a 'green light'.
    </p>

    <p>
      Project owners list projects during any stage of development; specifying the 
      funds they need and various details including any dividends (if any) they are offering to share buyers.
    </p>

    <p>
      Project owners must enter their paypal email address when listing a project 
      that will be used when funds are collected for the project. 
    </p>

    <p>
      The system automatically creates enough shares to meet the financing request 
      and then makes these shares available to PMF members to reserve for purchase only 
      if 100% of the shares needed to fund the project have been reserved.
    </p>

    <p>
      All shares are priced at $5. 
    </p>

    <p class="pageTitleSmaller">
      Depending on the membership level, members (reserving shares) and project 
      owners (offering shares) are restricted by:
    </p>

    <p>
    <ol>
      <li>the number of projects they can list</li>
      <li>the number of shares they can offer in each project they list</li>
      <li>The number of other member's projects they can reserve shares in</li>
      <li>The number of shares they can reserve in other member's projects</li>
    </ol>
    </p>

    <p>
      If the demand for project's shares exceeds the number of shares on offer 
      (above the limit set by the system), the system automatically raises the share limit, 
      and the owner has the option of increasing their share offering.
    </p>

    <p class="pageTitleSmaller">
      Before an owner of a project begins to collect funds: the PMF Fund must 
      'green light' the project based on a dynamic index that tracks:
    </p>

    <p>
    <ol>
      <li>Rating of the PMF Fund (the PMF Fund rates each project on a scale from C- to A+)</li>
      <li>Rating of the project by members (on a scale of 1-10)</li>
      <li>Rating of the talent attached to the project</li>
      <li>Popularity of the shares on offer</li>
    </ol>
    </p>

    <p class="pageTitleSmaller">
      Before a green light:
    </p>

    <p>
    <ol>
      <li>Members may add or cancel share reservations in any project at any time</li>
      <li>Owners may add or subtract the number of shares on offer</li>
      <li>Owners may increase or decrease dividends on offer (if any)</li>
    </ol>
    </p>

    <p class="pageTitleSmaller">
      After a green light:
    </p>

    <p>
    <ol>
      <li>Owners cannot change any element of the project on offer</li>
      <li>The system issues payments to members in the queue. Members are then 
        contacted and instructed how to pay for their shares 
        * See <a href="#payment_desc">Below</a> For Details</li>
    </ol>
    </p>

    <p>
      Owners who fail to live up their responsibilities - or members who fail 
      to pay for their shares - are forced to 'walk the plank.'
    </p>

    <p>
      To guarantee funding of a project, the PMF Fund will buy all unreserved or 
      defaulted shares needed to fund the project. 
    </p>

    <p class="pageTitleSmaller">
      Payment Procedure For Greenlit Projects:<a name="payment_desc">&nbsp;</a>
    </p>

    <p>
    <ol>
      <li>The project reaches 100% funding (or more).</li>
      <li>The project is given a 'green light' by the PMF Fund</li>
      <li>The project owner links a paypal email address to the project. 
        This will be the address that all payments will go to. 
        (Note to Project Owners: Make sure your paypal limits are set high enough 
        to accept the funds you are raising for your project). 
        A 'payment window' automatically opens up and  emails are sent to 
        all the users to pay for their shares.</li>
      <li>Members will see a paypal button and some information 
        regarding what shares they have, what are outstanding, and what they are 
        about to pay for after they login and click on the project page of the green lit project</li>
      <li>Click on the paypal button. The paypal button brings the user to the 
        paypal site,The user then goes through the standard paypal payment process 
        and the money goes to the project owners paypal account (via the email 
        address entered when creating the project)</li>
      <li>A unique code is also passed to paypal that appears on the payment 
        receipt that the producer sees. This code is used by the producer in the next step</li>
      <li>The producer logs into PMF and goes to the project page, where they 
        can see a list of users who are due to pay for shares in the current window. 
        It shows the username and the amount they are due to pay. It also shows 
        the unique code that was passed through to paypal earlier on. 
        The producer matches up the code in the receipt to this code, and then 
        clicks "Mark as Paid" for that user. The system updates the project 
        funding variables and the producer can then see how much money has actually been collected. 
        This process continues for all the users who are in this payment window</li>
      <li>When a window is open/closed or a payment has been verified by a producer, 
        an email is sent to the associated user</li>
      <li>After 3  days, the payment window closes, emails are sent to members 
        who have paid, any members who have not paid get pushed to the back of 
        the payment queue, and new emails are sent out repeating the payment process</li>
      <li>After 3 days, the new payment window closes and the process is 
        repeated opening up a second payment window</li>
      <li>After another 3 days, the final payment window is closed and an email 
        is sent to the PMF Fund to buy any outstanding shares (this request will 
        appear in a new section in the admin part of the site, where the admin user 
        can accept or deny to buy out the shares)</li>
    </ol>
    </p>

    <p>
      <b>Disclaimer:</b>
      PirateMyfilim Ltd. takes zero responsibility for funds collected, projects, 
      and downloads related to projects. Producers are not contractually obligated 
      to make good on funds, or to produce projects or make downloads available. 
      Share buyers assume 100% of the risk for funding,
    </p>

  </div>
</div>