<div id="how_it_works" class="static_content">

  <div id="text">
    <div class="pageTitle">How PirateMyFilm Works</div>

    <p>
      Producers list projects during any stage of development; specifying the
      funds they need and various details including any dividends they are
      offering to share buyers (if any) as well as information about future downloads of the project.
    </p>

    <p>
      The system automatically creates enough shares to meet the funds request
      and then makes these shares available to PMF members for reservation.
      All shares are priced at $5.
    </p>

    <p>
      PMF 'green lights' a project based on the PMF Index Score; a dynamically
      generated, weighted index that reflects:
    </p>

    <p>
      1. Highest percentage of share reservations (must be at least 100% funded).<br/>
      2. Highest rated by members.<br/>
      3. Highest rated talent.<br/>
      4. Highest PMF Fund rated (the PMF Fund give each project a viability
      rating on a scale from C- to A+).
    </p>

    <p>
      After a project has been 'green lit', members will receive an email from the
      producer instructing them on how to pay for their shares. * See Below For Details
    </p>

    <p>
      The PMF Fund stands ready to buy any shares after all orders for shares,
      (including standby* orders) have been filled.
      * 'Standby' orders; extra shares reserved in a project - after a project has
      achieved 100% funding status - or shares reserved in projects that have reduced
      their share offerings, are marked 'standby' and don't become valid until new or
      existing shares become available.
    </p>

    <p>
      Before a project has been green-lit - and a group debit occurs:
    </p>

    <p>
      1. members may add or cancel share reservations in any project at any time
      (per their membership restrictions).<br/>
      2. Producers may add or subtract the number of shares on offer in a project.<br/>
      3. Producers may increase or decrease the dividends on offer
      (allocated to the producer, the share holders and the PMF Fund).
    </p>

    <div class="pageTitleSmall">
      PMF Membership Restrictions
    </div>

    <p>
      Depending on membership level, members are restricted by:
    </p>

    <p>
      1. the number of projects they can list.<br/>
      2. the number of shares they can offer in each of their projects.<br/>
      3. The number of other member's projects they can reserve shares in.<br/>
      4. The number of shares they can reserve in other member's projects. <br/>
    </p>

    <p class="bold">
      If the demand for project's shares exceeds the number on offer, the system
      automatically increases the number of shares a producer may offer (to match the demand).
      The producer then has the option of increasing the number of shares on offer accordingly.
    </p>

    <p>
      The PMF Fund has the right to reserve an unlimited number of shares in any
      project and these reservations are senior to all other reservations in the queue.
    </p>

    <p>
      Reservations made by PMF Premium Members are junior to those of the PMF Fund,
      but senior to any reservations made by members with less status.
    </p>

    <p>
      The producer takes full responsibility for collecting funds, producing projects,
      paying out dividends to share holders and the PMF Fund and providing download
      information for their projects.
    </p>

    <p>
      Producers who fail to live up their responsibilities can be voted out of
      the community and forced to 'walk the plank.'
    </p>

    <p>
      <b>Disclaimer:</b>
      PMF takes zero responsibility for funds collected, projects, and downloads
      related to projects. Producers are not contractually obligated to make good
      on funds, or to produce projects or make downloads available. Share buyers
      assume 100% of the risk for funding, production and distribution.
    </p>
  </div>
</div>