<div id="how_it_works" class="static_content">

  <div class="pageTitle">How PirateMyFilm Works</div>

  <div id="text">

    <p>
      All projects on PirateMyfilm are CreativeCommons licensed unless otherwise 
      stipulated by project owners. Dividends are distributed to shareholders by project owners at their discretion. </br>
    </p>

    <p>
      Click on 'Need Money.' List a project during any stage of development, specifying the funds they need and various details. 
      The system automatically creates enough shares to meet the funds request and then makes these shares available for 
      reservation. All shares are priced at $5. All shareholders receive at a minimum, a credit on the finished 
      project and are eligible for cash dividends distributed by project owners at their discretion. </br>
    </p>

    <p>
      PMF 'Yellow Lights' a project when reservations have reached close to 100% of a project's funding requirement. 
      At this point, owners of projects can no longer make changes to their projects and members cannot cancel reservations, 
      but members may initiate or increase share reservations (per member restrictions). </br>
    </p>

    <p>
      24 hours later, the project automatically gets 'Green Light' and no more share reservations are accepted. 
      A 'payment window' is opened, and an email is sent to shareholders telling them how to pay for their shares. </br>
    </p>

    <p>
      Members have two days to pay for their shares. After two days the first payment window is closed while a second 
      payment window is automatically opened (and a new email is sent out). 
      Any members who did not pay for their shares during the first window have another chance to pay, but their 
      reservation has been moved to the end of the queue and there is a risk that others waiting in the queue ('standby') 
      may obtain shares ahead of them. </br>
    </p>

    <p>
      This process is repeated two days later when a third payment window is opened. 
      After which, if there are still shares unaccounted for, the PMF Fund may step in and buy remaining shares. </br>
    </p>

    <p>
      <b>Note:</b> Members may reserve shares at different times leading up to the Yellow Light so different orders 
      may appear in different payment windows. </br>
    </p>

    <p>
      Members who don't pay for their shares are marked as 'plank' and forced to the back of the queue. </br>
    </p>

    <p>
      <b>Note:</b> Standby orders become valid when new (or existing) shares become available, 
      or when a member fails to pay for shares when a payment window is open. </br>
    </p>

    <p class="pageTitleSmaller">
      Before a project gets a Yellow light:
    </p>

    <p>
    <ol>
      <li>members may add or cancel share reservations in any project at any time (per their membership restrictions).</li>
      <li>Producers may add or subtract the number of shares on offer in project.</li>
      <li>Producers may increase or decrease the dividends on offer.</li>
    </ol>
    </p>

    <p class="pageTitleSmaller">
      PMF Membership Restrictions refer to:
    </p>

    <p>
    <ol>
      <li>the number of projects members can list</li>
      <li>the number of shares members can offer in each of their projects</li>
      <li>The number of other member's projects members can reserve shares in</li>
      <li>The number of shares members can reserve in other member's projects</li>
    </ol>
    </p>

    <p>
      If the demand for project's shares exceeds the share number on offer, the 
      system automatically increases the number of shares an owner may offer (to match the demand). 
      If this circumstance, the owner has the option of increasing the number of shares on offer. </br>
    </p>

    <p>
      <b>Note:</b> Reservations in projects made by PMF Premium Members (Platinum and Gold for example) are junior to those of the PMF Fund, 
      but senior to any reservations made by members with less status. </br>
    </p>

    <p class="pageTitleSmaller">
      Payment Procedure For Greenlit Projects:<a name="payment_desc">&nbsp;</a>
    </p>

    <p>
    <ol>
      <li>The project reaches 100% funding (or more).</li>
      <li>The project is given a 'green light' by the PMF Fund</li>
      <li>The project owner links a paypal email address to the project. 
        This will be the address that all payments will go to. 
        (Note to Project Owners: Make sure your paypal limits are set high enough 
        to accept the funds you are raising for your project). 
        A 'payment window' automatically opens up and  emails are sent to 
        all the users to pay for their shares.</li>
      <li>Members will see a paypal button and some information 
        regarding what shares they have, what are outstanding, and what they are 
        about to pay for after they login and click on the project page of the green lit project</li>
      <li>Click on the paypal button. The paypal button brings the user to the 
        paypal site,The user then goes through the standard paypal payment process 
        and the money goes to the project owners paypal account (via the email 
        address entered when creating the project)</li>
      <li>A unique code is also passed to paypal that appears on the payment 
        receipt that the producer sees. This code is used by the producer in the next step</li>
      <li>The producer logs into PMF and goes to the project page, where they 
        can see a list of users who are due to pay for shares in the current window. 
        It shows the username and the amount they are due to pay. It also shows 
        the unique code that was passed through to paypal earlier on. 
        The producer matches up the code in the receipt to this code, and then 
        clicks "Mark as Paid" for that user. The system updates the project 
        funding variables and the producer can then see how much money has actually been collected. 
        This process continues for all the users who are in this payment window</li>
      <li>When a window is open/closed or a payment has been verified by a producer, 
        an email is sent to the associated user</li>
      <li>After 3  days, the payment window closes, emails are sent to members 
        who have paid, any members who have not paid get pushed to the back of 
        the payment queue, and new emails are sent out repeating the payment process</li>
      <li>After 3 days, the new payment window closes and the process is 
        repeated opening up a second payment window</li>
      <li>After another 3 days, the final payment window is closed and an email 
        is sent to the PMF Fund to buy any outstanding shares (this request will 
        appear in a new section in the admin part of the site, where the admin user 
        can accept or deny to buy out the shares)</li>
    </ol>
    </p>

    <p>
      <b>Disclaimer:</b>
      PirateMyfilim Ltd. takes zero responsibility for funds collected, projects, 
      and downloads related to projects. Producers are not contractually obligated 
      to make good on funds, or to produce projects or make downloads available. 
      Share buyers assume 100% of the risk for funding,
    </p>

  </div>
</div>