<div id="how_it_works" class="static_content">

  <div id="text">
    <div id="vid">
      <object width="480" height="385">
        <param name="movie"
               value="http://www.youtube.com/v/YFTvSIKAWS4?fs=1&amp;hl=en_US">

        </param><param name="allowFullScreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed src="http://www.youtube.com/v/YFTvSIKAWS4?fs=1&amp;hl=en_US"
               type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"
               width="480" height="385"></embed>
      </object>
    </div>

    <div class="pageTitle">How PirateMyFilm Works</div>

    <p>
      Producers list projects during any stage of development; specifying funds
      needed and other details. The system automatically creates enough shares to
      match the funds request and then makes those shares available for PMF members
      to reserve. All shares are priced at $5.
    </p>

    <p>
      Members reserve shares without committing funds. When 100% (or more) of
      available shares have been reserved and the project has been given the
      'green light' a group debit occurs and shares are allocated - first come,
      first serve to members - who become shareholders. Shareholders are entitled
      to information linking them to a future download and any future dividends
      offered by the producer.
    </p>

    <p>
      Members can cancel their share reservations at any time up until the
      group debit without penalty.
    </p>

    <p>
      The producer may increase or decrease the number of shares on offer at
      any time before the group debit.
    </p>

    <p>
      The producer may increase or decrease the dividends on offer at any time
      before the group debit.
    </p>

    <p>
      Members - depending on membership level - are limited in the number of
      projects they can list and the number of shares they can offer in each
      of their own projects; as well as the number of other member's projects
      they can reserve shares in, and the number of shares they can reserve in
      other member's projects.
    </p>

    <p>
      If the demand for a project's shares exceeds the membership limit the system
      will automatically raise the limit.
    </p>

    <p>
      Shares reserved by members in projects that are over 100% funded are marked 'standby'
      and only become valid when new or existing shares become available.
    </p>

    <p>
      The PMF Fund rates each project.  Only 'A+' rated projects may qualify for a
      'green light' and group debit.
    </p>

    <p>
      The Pirate Fund reserves the right to reserve an unlimited number of shares
      in any project and the Pirate Fund's reservations are always honored before
      any other reservations.
    </p>

    <p>
      Premium members' reservations, depending on status, are given xx in the order queue.
    </p>

    <p>
      (after a project's been funded and produced)  The producer takes full responsibility
      for paying out dividends to shareholders and the PMF Fund.
    </p>

    <p>
      Any producer who fails to live up their dividend paying responsibility can
      be voted out of the community and forced to 'walk the plank.'
    </p>

    <p>
      note: only a set number of premium members allowed;
      like platinum members can reserve more shares - they pay an annual fee.
    </p>

    <p>
      <b>Coming Soon:</b>   'piratemyband', 'piratemysoftware', 'piratemybusinessplan',
      'piratemyidea', 'piratemybook',  'piratemymusicvideo', 'piratemycomicbook',
      'piratemyfashion', 'piratemyart', 'piratemytvshow'
    </p>
  </div>
</div>