<div id="how_it_works" class="static_content">
  <strong>How PirateMyFilm Works</strong>

  <p>
    Producers list projects during any stage of development; specifying the funds
    requested and other details. The system automatically creates enough shares
    to satisfy the request.
  </p>

  <p>
    All shares are priced at $5.
  </p>

  <p>
    Members reserve shares without committing funds. When 100% (or more) of
    available shares have been reserved and the project has been 'green lit'
    a group debit occurs and shares are allocated - first come, first serve -
    to members who become shareholders. Shareholders are entitled to information
    linking them to a future download and any future dividends offered by the producer.
  </p>

  <p>
    Members can cancel their share reservations at
    any time up until the group debit without penalty.
  </p>

  <p>
    The producer may increase or decrease the number
    of shares on offer at any time before the group debit.
  </p>

  <p>
    The producer may increase or decrease the dividends
    on offer at any time before the group debit.
  </p>

  <p>
    Members - depending on membership level - are limited in the number of
    projects they can list; the number of projects they can reserve shares in,
    and the number of shares they can reserve in each project.
  </p>

  <p>
    The PMF Fund rates each project and only 'A' rated projects may qualify
    for a 'green light' and group debit.
  </p>

  <p>
    The PMF Fund reserves the right to reserve an unlimited number of shares in any project.
  </p>

  <p>
    The producer takes full responsibility for paying out dividends to shareholders and the PMF Fund.
  </p>

  <p>
    Any producer who fails to live up their dividend paying responsibility can be
    voted out of the community and forced to, 'walk the plank.'
  </p>

  <p>
    <b>Coming Soon:</b>   'piratemyband', 'piratemysoftware', 'piratemybusinessplan',
    'piratemyidea', 'piratemybook',  'piratemymusicvideo', 'piratemycomicbook',
    'piratemyfashion', 'piratemyart', 'piratemytvshow'
  </p>

</div>