<div id="how_it_works" class="static_content">

  <div class="pageTitle">How PirateMyFilm Works</div>

  <div id="text">

    <p>
      <b>Legal pirating of creative commons, crowd funded media projects</b>
    </p>

    <p>
      All projects on PirateMyfilm are CreativeCommons licensed unless otherwise 
      stipulated by project owners. Dividends are distributed to shareholders by project owners at their discretion. </br>
    </p>

    <p>
      Getting started: Click on 'Need Money' list a project during any stage of development, 
      specifying the funds needed and various details. The system automatically creates enough 
      shares to meet the funding request and then makes these shares available for reservation 
      to all members. All shares are priced at $5. All shareholders receive a credit on the finished 
      project and are eligible for cash dividends distributed by project owners at their discretion. </br>
    </p>

    <p>
      PMF 'Yellow Lights' a project when reservations have reached close to 100% of a project's funding requirement. 
      When the Yellow Light goes on, owners of projects can no longer make changes to their projects and members cannot cancel 
      reservations, but members may initiate or increase share reservations (per member restrictions). </br>
    </p>

    <p>
      24 hours later, the project automatically gets a 'Green Light' and no more share reservations are accepted. 
      A 'payment window' is opened, and an email is sent to shareholders telling them how to pay for their shares. </br>
    </p>

    <p>
      Members have 2 days to pay for their shares. After 2 days the first payment window closes while a second payment 
      window is automatically opened (and a new email is sent out). Any members who did not pay for their shares during 
      the first window have another chance to pay, but their reservation has 
      been moved to the end of the queue and there is a risk that others waiting in the queue ('standby') may obtain shares ahead of them. </br>
    </p>

    <p>
      This process is repeated 2 days later when a third payment window is opened. After which, 
      if there are still shares unaccounted for, the PMF Fund may step in and buy them.  </br>
    </p>

    <p>
      <b>Note:</b>  Members who don't pay for their shares are marked as 'plank' and forced to the 
      back of the queue in subsequent share offerings different projects. </br>
    </p>

    <p>
      <b>Note:</b> Members who don't pay for their shares are marked as 'plank' and forced to the back of the queue in subsequent share offerings. </br>
    </p>

    <p class="pageTitleSmaller">
      Before a project gets a Yellow light:
    </p>

    <p>
    <ol>
      <li>members may add or cancel share reservations in any project at any time (per their membership restrictions).</li>
      <li>Producers may add or subtract the number of shares on offer in a project.</li>
      <li>Producers may increase or decrease the dividends on offer (if any). Typically dividends are not determined or 
        paid out until after a project is finished and uploaded to the Internet and ad revenues begin to be generated 
        for the owner of the project. But owners may indicated an estimated future dividend payout when listing a project as a way to attract share buyers. </li>
    </ol>
    </p>

    <p class="pageTitleSmaller">
      PMF membership restrictions refer to:
    </p>

    <p>
    <ol>
      <li>the number of projects listed</li>
      <li>the number of shares offered in each project</li>
      <li>The number of other member's projects members can reserve shares in</li>
      <li>The number of shares members can reserve in other member's projects</li>
    </ol>
    </p>

    <p>
      <b>Note:</b> If the demand for project's shares exceeds the shares on offer, the system automatically increases the number of shares 
      an owner may offer (to match the demand). The owner then has the option of offering these additional shares </br>
    </p>

    <p>
      <b>Disclaimer:</b>
      PirateMyfilim Ltd. takes zero responsibility for funds collected, projects, 
      and downloads related to projects. Producers are not contractually obligated 
      to make good on funds, or to produce projects or make downloads available. 
      Share buyers assume 100% of the risk for funding,
    </p>

    <p class="pageTitleSmaller">
      <a href="http://torrentfreak.com/its-time-to-go-on-the-offensive-for-freedom-of-speech-120122/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Torrentfreak+%28Torrentfreak%29">
        It's Time To Go On The Offensive For Freedom Of Speech
      </a>
    </p>

    <p>
    <ul>
      <li>
        It must be made absolutely clear that the copyright monopoly does not extend to what an ordinary person can do with ordinary equipment in 
        their home and spare time; it regulates commercial, intent-to-profit activity only. Specifically, file sharing is always legal.
      </li>
      <li>
        Free sampling. There must be exceptions that make it legal to create mashups and remixes. 
        Quotation rights, like those that exist for text, must be extended to sound and video.
      </li>
      <li>
        Digital Restrictions Management should preferably be outlawed, as it is a type of fraud nullifying 
        consumer and citizen rights, but at least, it must always be legal to circumvent.
      </li>
      <li>
        The baseline commercial copyright monopoly is shortened to a reasonable five years from publication, 
        extendable to twenty years through registration of the work in a copyright monopoly database.
      </li>
      <li>
        The public domain must be strengthened.
      </li>
      <li>
        Net neutrality must be guaranteed.
      </li>
      <li>
        Levies on blank media are outlawed.
      </li>
      <li>
        Overall, it must always be clear where the line goes; "the courts will sort it out" areas are not acceptable and tantamount to outlawing.
      </li>
    </ul>
    </p>

    <p>
      <b>See Also: </b>
      <a href="http://ycombinator.com/rfs9.html">http://ycombinator.com/rfs9.html</a>
    </p>

  </div>
</div>
