<strong>How PirateMyFilm Works</strong>

<p>
  Producers list projects; specifying budget requirements and other details.
  The system automatically creates enough shares to fund the project.
</p>

<p>
  All shares are priced at $5.
  Members reserve shares without committing funds.
  When 100% of available shares have been reserved a group debit occurs and shares
  are allocated to members - who become share holders - on a first come, first serve
  basis with the funds that have been collected transferred to a PMF Executive Producer
  who in turn makes the funds available to the producer.
</p>

<p>
  Share holders are entitled to a future download for every share they hold.
  Share holders are entitled to any future sales dividends that have been offered by the producer.
  The producer may increase or decrease the number of shares on offer (the size of their budget)
  at any time before the group debit.
</p>

<p>
  If a producer increases or decreases the number of shares on offer (the size of their budget)
  before the group debit, the system automatically increases or decreases the shares
  on offer and will mark any redundant reservations held by members as 'standby'
  pending any additional changes made by the producer.
</p>

<p>
  The producer may increase or decrease the sales dividend associated with each
  project at any time before the group debit.
  Members may cancel, without penalty, any or all share reservations any time before the group debit.
</p>

<p>
  Depending on membership levels; producers are limited in the number of projects they can list;
  members are limited in the number of projects they can reserve shares in as well as the number
  of shares they can reserve in each project.
</p>

<p>
  The PMF Executive Producer rates each project on a scale of 'A' to 'C' (and 'unrated')
  and only 'A' rated projects qualify for a group debit.
  Share holders and producers may be entitled to PMF gift dividends awarded to members at PMF's discretion.
</p>

<p>
  PMF reserves the right to reserve shares in any project.
  PMF reserves the right to take a percentage of any project's sales dividends.
</p>