<h1>KMetrics</h1>

<p style="border: 1px solid #666; background: #eee; padding: 5px; text-align: center;">
<strong>Current formula for Kindex Rating: (AR x 4) + (UR x 4) + (%C / 10) + (DY / 10)</strong>
<br>Admin rating times 4, plus user rating time 4, plus percent committed divided by 10, plus deal yield divided by 10.
<br>

<p>
  Kinooga analysts determine the risk of each project, then assign an alpha 
  grade on a scale from CCC (low) to AAA (high). Projects that are not yet rated 
  are automatically rated 'N'. Kinooga is constantly reviewing these ratings and 
  may upgrade or downgrade them. The Kinooga rating is meant to be a helpful guide, 
  not a definitive determination of a project's worthiness.
</p>

<ul>
  <li>
    Maximum number of Downloads &amp; Coupons's allowed in any project by any 
    one member 
    <strong>5</strong>
  </li>  
  <li>
    Pre-release of download price 
    <strong>$10</strong> - includes a coupon(s)
    <div style="color: #000000;">(Net price may be revised lower based on distribution deals.)</div>
  </li>  
  <li>
    General release of download 
    <strong>N/A</strong> - does not include coupon(s)
  </li>  
  <li>
    Listing Fee 
    <strong>Free during beta</strong>
  </li>  
  <li>Kinooga Financing Fee 
    <strong>0%</strong>
  </li>  
  <li>Distribution Fee 
    <strong>0%</strong>
  </li> 
  <li>
    Secondary Coupon Trading Spread 
    <strong>15%</strong>
  </li>  
  <li>
    Percentage of spread 'back-channelled' to equalized coupon offers on 
    Download + Coupon auctions 
    <strong>10%</strong>
  </li>  
</ul>