<div id="header_text">Pirate Myfilm - The Film Futures Market for Pirates</div>

<p>
  Some film makers want to have copies of their films pirated by millions.
  Some want to sell copies. In either case, producers can raise money for their
  projects on Pirate Myfilm by selling future copies today. When enough future
  copies have been reserved to fund a project a group-debit occurs and the funds
  are made available to the producer.
</p>

<p>
  Producers also have the option of offering members who reserve future copies a
  piece of ad or retail sales. In addition to getting a copy of the film you might
  also get some money back. For example, if a producer has opted to share ad revenues
  of future pirated copies or a percentage of future retailed copies of the next
  "Saw" or "The Blair Witch Project" the producer and future copy buyers like
  yourself could make a bewitching pot of gold.
</p>

<p>
  Keep in mind, nobody is debited until 100% of the future copies needed to fund
  the project have been reserved and you can cancel at any time. And keep checking
  your Pirate Myfilm account because producers can change any aspect of their projects
  - including the percentage of future revenue splits on ads and retailed copies
  - up until the group-debit.
</p>