
<strong>Kinooga... What is it?</strong>

<p>
  Kinooga puts  media and entertainment content creators in touch with people 
  who would like to help finance film projects of all kinds. In other words, 
  Kinooga puts people who would like to make money in touch with other people 
  who would like to make money. Kinooga calls these people PreBuyers and PreSellers.
</p>

<strong>Getting Started</strong>

<p>
  PreSellers (i.e. filmmakers of all shapes and sizes) list their projects 
  on Kinooga. When a project is listed on our service, a Download Coupon 
  Offering (DCO) is created. PreSellers will need to enter a project title, 
  budget and other details in a simple step-by-step process.
</p>

<p>
  Once your project is listed, there are tools available to you that will 
  help successfully auction your project and modify your project's details if needed.
</p>

<strong>How People Make Money</strong>

<p>
  First, Kinooga calculates how many downloads of a project Kinooga 
  members will need to buy as part of the auction to fund the project.
</p>

<p>
  Producers may offer a percentage of future download sales to buyers of 
  future downloads via the Download Coupon Offering.
</p>

<p>
  All Offerings are priced at the same 'par' value of $10. While a 
  producer may raise or lower the percentage of sales they are willing 
  to share with download buyers this does not change the price or 'par' 
  value of the bundled download and coupon that is being auctioned by 
  the producer.
</p>

<p>
  Kinooga calculates potential coupon returns based on future download 
  sales; allowing buyers participating in the auction to compare 
  projects on potential economic returns as well as artistic merit.
</p>

<p>
  At any time prior to an auction's closing, PreSellers may change the 
  details, budgets, coupon percentages and the recoupment details of 
  their projects while buyers have the right to return any DCO's at 
  any time during the auction and therefore not be charged.
</p>

<p>No payments are collected from buyers until the conclusion of 
  the auction and 100% of the available future downloads and coupons 
  have been bought.
</p>

<p>
  PreSellers may offer additional coupons to PreBuyers based on 
  future income from ancillary distribution deals such as TV, DVD, 
  theatrical, etc. offered to producers from accredited distributors.
</p>

<strong>Funding</strong>

<p>
  Once pre-funding is complete, money collected from PreBuyers is deposited 
  into the PreSellers corporate bank account, as per the scheduled 
  disbursement of funds, and producers may begin production on their project.
</p>

<p>
  Producers can post dailies, blogs, etc to their Kinooga project page 
  in order to sustain Kinooga member interest in buying Downloads.
</p>

<p>
  During this phase, royalties are immediately distributed back by Kinooga 
  to the project DCO holders and PreSellers as per the percentage, 
  recoupment and royalty participation deal agreed between the PreSeller 
  and PreBuyers during the pre-funding phase. Any additional coupon royalty 
  revenue streams will also be distributed in a timely manner.
</p>

<p>
  The coupon and the download can also be split into their two constituent 
  parts and the coupon can immediately be offered for sale by Kinooga 
  members and producers on Kinooga's secondary cash market for coupons.
</p>

<strong>Conclusion</strong>

<p>
  So its a win-win situation. The content is made and if the project 
  attracts a lot of attention, money is made too.
</p>

<p>Kinooga, User financed Content.</p>
