<div id="MENU_HEADER" class="pageTitle">
  Membership Types
</div>
<div style="clear:both;"></div><hr/>

<table>
  <tr>
    <th>Name</th>
    <th>Max number of projects listed</th>
    <th>Max PCs Per Project</th>
    <th>Max number of projects available for PCs</th>
    <th>Funding Limit per project</th>
  </tr>
    <%= render :partial => 'membership_type', :collection => @membership_types %>
</table>
