<table>
  <tr>
    <th>Name</th>
    <th>Max. no. projects offering shares</th>
    <th>Max. no. of projects reserving shares</th>
    <th>Max. no. shares reserved per project</th>
    <th>Min. budget</th>
    <th>Max. budget</th>
  </tr>
    <%= render :partial => 'membership_type', :collection => @membership_types %>
</table>
