<table>
  <tr>
    <th>Name</th>
    <th>Max. number of projects</th>
    <th>Max. shares per project</th>
    <th>Max. number of projects shares can be held in</th>
    <th>Min. funding per project</th>
    <th>Max. funding per project</th>
  </tr>
    <%= render :partial => 'membership_type', :collection => @membership_types %>
</table>
