<h1>Edit Max Blog Post</h1>

<% form_for :blog, @blog, :url => {:controller => "homepage_blog", :action => "update", :id => @blog.id}  do |f| %>
  <%= render :partial => '/blog_partials/form', :locals => {:f => f} %>
<% end %>
