<h1>Showing Blog</h1>

<div id="sub_nav">
  <%= link_to "<<< Back to Blogs", :controller => "admin/homepage_blog" %>
</div>

<%= render :partial => '/blog_partials/show_blog', :locals => {:blog => @blog} %>
