<div class="user-icon">
  <%= link_to icon(user_talent.user.profile, :small), profile_path(user_talent.user.profile) %>
</div>
<div class="talent_info">
  <div class="username">
    <%= link_to user_talent.user.login, profile_path(user_talent.user.profile) %>
  </div>
  <div class="rating">
    Rating: <span><%= user_talent.current_rating %></span>
  </div>
</div>

<div class="pmf_clear">&nbsp;</div>