<div class="pageTitle">Project Talent</div>

<div class="dashed_light_border">&nbsp;</div>

<div class="pmf_clear">&nbsp;</div>

<div class="pageTitleSmall left">
  Viewing all <%= @talent_type_name.humanize.titleize %>s
</div>

<div id="filter_param_box">
  <% form_tag url_for(:controller => "user_talents"), :method => :get do %>
    <%= select_tag :talent_filter_param, options_for_select(@talent_filter_params, [params['talent_filter_param']]), :onchange => "this.form.submit();" %>
    <div class="label">View Talent by:</div>
  <% end %>
</div>

<div class="pmf_clear">&nbsp;</div>

<div id="talents">
  <% @talents.each do |talent| %>
    <div class="user_talent">
      <%= render :partial => "user_talent", :locals => { :user_talent => talent } %>
    </div>
  <% end %>
</div>

<div class="pmf_clear">&nbsp;</div>

<%= pagination_controls_for @talents if @talents.respond_to? :total_pages %>

<div class="pmf_clear">&nbsp;</div>