<div class="pageTitle">Browse Talent</div>

<div class="pmf_clear">&nbsp;</div>

<div class="pageTitleSmall left">
  Viewing all <%= @talent_type_name.humanize.titleize %>s
</div>

<div class="pmf_clear">&nbsp;</div>

<div id="talents">
  <% @talents.each do |talent| %>
    <div class="user_talent">
      <%= render :partial => "user_talent", :locals => { :user_talent => talent } %>
    </div>
  <% end %>
</div>

<div class="pmf_clear">&nbsp;</div>

<%= pagination_controls_for @talents if @talents.respond_to? :total_pages %>

<div class="pmf_clear">&nbsp;</div>