<div class="pageTitle">
  PMF Fund Ratings for Project:
</div>

<div class="pageTitleSmall"><%= link_to h(@project.title), project_path(@project) %></div>

<%= render :partial => 'project_comments/comments',
  :locals => {:project_comments => @project_comments} %>
