<div class="pageTitle">Latest PMF Fund Project Comments</div>

<%= render :partial => "/blogs/subnav" %>

<%= render :partial => 'project_comments/comments',
  :locals => {:project_comments => @project_comments} %>


