<div class="pageTitle">Latest PMF Fund Project Comments</div>

<%= render :partial => "/blogs/subnav" %>

<div class="dashed_light_border">&nbsp;</div>

<%= render :partial => 'project_comments/comments',
  :locals => {:project_comments => @project_comments} %>


