<div class="pageTitle">PMF Fund Ratings</div>

<div class="dashed_light_border">&nbsp;</div>

<%= render :partial => 'project_comments/comments',
  :locals => {:project_comments => @project_comments} %>

<% @items.each do |item| %>
  <% if item.kind_of? ProjectComment %>
    <%= render :partial => 'project_comments/comment_info', :locals => {:project_comment => item} %>
  <% elsif item.kind_of? AdminProjectRating %>
    <%= render :partial => '/shared/partials/admin_project_rating', :locals => {:admin_project_rating => item} %>
  <% end %>
<% end %>

<%= pagination_controls_for @items if @items.respond_to? :total_pages %>