<div class="pageTitle">PMF Fund Ratings</div>

<div class="dashed_light_border">&nbsp;</div>

<%= render :partial => 'project_comments/comments',
  :locals => {:project_comments => @project_comments} %>