<div class="blog-row blog admin_blog">

  <div class="blog_left">
    <div class="icon">
      <%= link_to image_tag("/images/big_p.png"), url_for(:only_path => false, :controller => "/blogs", :action => "admin") %>
    </div>
    <div class="info">
      <div class="blog_type">
        <%= link_to "PMF Blog", url_for(:only_path => false, :controller => "/blogs", :action => "admin") %>
      </div>

      <div class="pmf_clear">&nbsp;</div>

      <div class="blog_body">
        <%= blog.body %>
      </div>
    </div>
  </div>

</div>