<div style='padding: 25px;' id="confirm_update_membership">
  <div class="title">
    You are about to update this users membership.
  </div>

  <ul>
    <li>
      This user currently has X projects listed.
      Updating his/her membership will result in X projects being deleted.

      Note that the projects that will be deleted will be the most recent projects this user has created.
    </li>
    <li>
      This user has over X shares in X projects,
      these shares will be revoked from these projects.
    </li>
    <li>
      This user has shares in over X projects,
      These shares will be revoked from these projects.
    </li>
    <li>
      This user has X projects in which the budget exceeds X.
      The outstanding shares for these projects will be revoked.
    </li>
  </ul>

  <div class="end_note">
    Note that shares will be held on a first come first served basis.
    The most recent share holders shares will be revoked from the appropriate projects.
  </div>

  <b>Are you sure?</b>
</div>