The project

<%= h @project.title %>

has just been given the green light!

<br/><br/>

If you have shares in this project, they will require payment!

<br/><br/>

<a href="<%= project_url(@project) %>">See the project here!</a>