Congratulations!

<br/><br/>

Your project

<%= h @project.title %>

has just been given the green light!

<br/><br/>

You can now start to collect funds.

<br/><br/>

<a href="<%= project_url(@project) %>">Log In Here</a>

and click "Collect Funds" to start issuing payment requests!