Congratulations!

<br/><br/>

Your project

<%= h @project.title %>

is now fully funded!

<br/><br/>

Once given the green light by our admin you can start to collect funds.

<br/><br/>

<a href="<%= project_url(@project) %>">See your project here</a>