Congratulations!

<br/><br/>

Your project

<%= h @project.title %>

<% if @project.frozen_yellow? %>
  is in the frozen yellow state. This means it will go yellow, once you enter his/her bitpay information.
  After this, all members will have just over 24 hours to reserve shares (or add more shares to their reservation) 
  before the project gets locked down and given the green light, where payments will start being collected!
<% else %>
  has just been given the yellow light!
  <br/><br/>
  All members have just over 24 hours to reserve shares (or add more shares to their reservation) 
  before the project gets locked down and given the green light, where payments will start being collected!
<%  end %>

<a href="<%= project_url(@project) %>">See the project here!</a>