A project has been listed on PMF!

<br/><br/>

<a href="<%= project_url(@project) %>"><%= h @project.title %></a>

<br/><br/>

<a href="<%= project_url(@project) %>">Log In Here</a>

and reserve some shares!