The project

<%= h @project.title %>

is now fully funded!

<br/><br/>

If you have shares in this project, they will soon require payment once admin gives
the project a green light and the producer opens the payment window.

<br/><br/>

<a href="<%= project_url(@project) %>">See the project here!</a>