The project

<%= h @project.title %>

is now fully funded!

<br/><br/>

If you have shares in this project, they will soon require payment once the project receives the green light!

<br/><br/>

<a href="<%= project_url(@project) %>">See the project here!</a>