The project

<%= h @project.title %>

has just been given the yellow light!

<br/><br/>

You have just over 24 hours to buy shares before the project gets locked down and given the green light, where payments will start being collected!

<br/><br/>

<a href="<%= project_url(@project) %>">See the project here!</a>