<div id="lead">
	<div class="content">
		<h2>Please check your email to activate your account.</h2>
	</div><!-- /.content -->
</div><!-- /#lead -->

<div id="main">
	<div class="content">
	</div>
</div>

